<script type="text/javascript">
    localStorage.setItem("pageName", "@ViewBag.PageName");
    localStorage.setItem("menuId", "@ViewBag.MenuId");
</script>

@{
    var pageId = ViewBag.PageName + "-" + ViewBag.MenuId;
    var divTblId = "divtbl" + pageId;
    var toolbarId = "toolbar" + pageId;
    var tblMasterId = "tbl" + pageId;
    var tblChildId = "tblChild" + pageId;
    var tblPrvChildId = "tblChildPrv" + pageId;
    var tblColorChildId = "tblColorChild" + pageId;
    var tblChildTwistingId = "tblChildTwisting" + pageId;
    var tblChildDyedCalculationId = "tblChildDyedCalculation" + pageId;
    var formId = "form" + pageId;
    var divDetailsId = "divDetails" + pageId;
    var tblPrintingColorId = "tblPrintingColor" + pageId;
}

<div id="@pageId">
    <input type="hidden" id="AcknowledgePage" value="@ViewBag.AcknowledgePage" />
    <input type="hidden" id="ApprovePage" value="@ViewBag.ApprovePage" />
    <input type="hidden" id="YDBBPage" value="@ViewBag.YDBBPage" />
    <div class="row" id="@divTblId">
        <div class="col-sm-12">
            <div id="@toolbarId" class="master-toolbar">
                @*<button id="btnNew" class="btn btn-default text-grey btn-sm">
                        <i class="fa fa-plus"></i>&nbsp;New Booking
                    </button>*@
                <button id="btnPendingList" class="btn btn-success text-white btn-sm">
                    <i class="fa fa-list"></i>&nbsp;Pending List
                </button>
                <button id="btnList" class="btn btn-default text-grey btn-sm">
                    <i class="fa fa-list"></i>&nbsp;Booking List
                </button>
                <button id="btnProposeList" class="btn btn-default text-grey btn-sm" style="display:none">
                    <i class="fa fa-list"></i>&nbsp;Propose List
                </button>
                <button id="btnApproveList" class="btn btn-default text-grey btn-sm" style="display:none">
                    <i class="fa fa-list"></i>&nbsp;Approve List
                </button>
                <button id="btnPendingAcknowlegeList" class="btn btn-default text-grey btn-sm" style="display:none">
                    <i class="fa fa-list"></i>&nbsp;Pending Acknowledge List
                </button>
                <button id="btnAcknowledgeList" class="btn btn-default text-grey btn-sm" style="display:none">
                    <i class="fa fa-list"></i>&nbsp;Acknowledge List
                </button>

                <button id="btnUnAcnowledgeList" class="btn btn-default text-grey btn-sm" style="display:none">
                    <i class="fa fa-list"></i>&nbsp;Unacknowledge List
                </button>

                <button id="btnRevisionList" class="btn btn-default text-grey btn-sm" style="display:none">
                    <i class="fa fa-list"></i>&nbsp;Revision List
                </button>
                <button id="btnCompleteList" class="btn btn-default text-grey btn-sm" style="display:none">
                    <i class="fa fa-list"></i>&nbsp;Complete List
                </button>
                <button id="btnRefreshList" class="btn btn-default text-grey btn-sm">
                    <i class="fa fa-refresh"></i>&nbsp;
                </button>
            </div>
        </div>
        <div class="col-sm-12" style="font-size:12px">
            <table id="@tblMasterId"></table>
        </div>
    </div>
    <div class="row">
        <form class="form-horizontal" id="@formId">
            <input type="hidden" id="ExportOrderID" name="ExportOrderID" />
            <input type="hidden" id="BuyerID" name="BuyerID" />
            <input type="hidden" id="BuyerTeamID" name="BuyerTeamID" />
            <input type="hidden" id="ConceptID" name="ConceptID" />
            <input type="hidden" id="YBookingID" name="YBookingID" />
            <input type="hidden" id="YDBookingMasterID" name="YDBookingMasterID" value="-1111" />
            <input type="hidden" id="IsAdditional" name="IsAdditional" />
            <input type="hidden" id="parentYDBookingNo" name="parentYDBookingNo" />

            <input type="hidden" id="IsBDS" name="IsBDS" value="0" />
            <input type="hidden" id="PreProcessRevNo" name="PreProcessRevNo" value="0" />
            <input type="hidden" id="ReqTypeID" name="ReqTypeID" value="0" />

            <div class="box-body" id="@divDetailsId" style="display:none">
                <div class="col-sm-12">
                    <div class="panel panel-success" style="border-color:transparent; border-style:none;">
                        <div class="panel-heading">
                            General/Commercial Information
                        </div>
                        <div class="panel-body">
                            <div class="form-horizontal">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="control-label col-sm-4 small">Booking No</label>
                                        <div class="col-sm-8">
                                            <input id="YDBookingNo" name="YDBookingNo" class="form-control input-sm" value="**<< NEW >>**" readonly />
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-sm-4 small">Booking Date</label>
                                        <div class="col-sm-8">
                                            <input id="YDBookingDate" name="YDBookingDate" class="form-control input-sm" readonly />
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-sm-4 small">Group Concept No</label>
                                        <div class="col-sm-8">
                                            <input id="GroupConceptNo" name="GroupConceptNo" class="form-control input-sm" readonly />
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-sm-4 small">Buyer</label>
                                        <div class="col-sm-8">
                                            <input id="BuyerName" name="BuyerName" class="form-control input-sm" readonly />
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-sm-4 small">Remarks</label>
                                        <div class="col-sm-8">
                                            <textarea id="Remarks" name="Remarks" class="form-control input-sm" rows="2" maxlength="500"></textarea>
                                        </div>
                                    </div>

                                    <div class="form-group" id="divRevisionReason">
                                        <label class="control-label col-sm-4 small">Reason</label>
                                        <div class="col-sm-8">
                                            <textarea id="RevisionReason" name="RevisionReason" class="form-control input-sm" rows="2" maxlength="500"></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group" id="divUnAckReason">
                                        <label class="control-label col-sm-4 small">UnAcknowledge Reason</label>
                                        <div class="col-sm-8">
                                            <textarea id="UnAckReason" name="UnAckReason" class="form-control input-sm" rows="2" maxlength="500"></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group" id="div_YDBNo">
                                        <label class="control-label col-sm-4 small">YDB No</label>
                                        <div class="col-sm-8">
                                            <input id="YDBNo" name="YDBNo" class="form-control input-sm" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group" style="display:none">
                                        <label class="control-label col-sm-4 small">Swatch</label>
                                        <div class="col-sm-8">
                                            <input id="SwatchFile" type="file" class="file" name="UploadFile" accept="image/*">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <table id="@tblColorChildId"></table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12" id="divPrvDyeingDetails" style="display:none;">
                    <div class="panel panel-success" style="border-color:transparent; border-style:none;">
                        <div class="panel-heading">
                            Previous Dyeing Item Information
                        </div>
                        <div class="panel-body">
                            <div class="form-horizontal">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <table id="@tblPrvChildId"></table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12" id="divDyeingDetails">
                    <div class="panel panel-success" style="border-color:transparent; border-style:none;">
                        <div class="panel-heading">
                            Dyeing Item Information
                        </div>
                        <div class="panel-body">
                            <div class="form-horizontal">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <table id="@tblChildId"></table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button type="button" class="btn btn-default m-w-80" id="btnBackToDyeing"><i class="fa fa-angle-double-left"></i>&nbsp;Back</button>
                        <button type="button" class="btn btn-success m-w-80" id="btnNextForTwist"><i class="fa fa-angle-double-right"></i>&nbsp;Next</button>
                    </div>
                </div>

                <div class="col-sm-12" id="divTwistedDetails">
                    <div class="panel panel-success" style="border-color:transparent; border-style:none;">
                        <div class="panel-heading">
                            Final / Twisted(if any) Item Information
                            <button type="button" id="btnAddTwistedItems" class="btn btn-success btn-xs" style="left:10%;">
                                <i class="fa fa-plus"></i>&nbsp;Add Twisting
                            </button> &nbsp; &nbsp;
                        </div>
                        <div class="panel-body">
                            <div class="form-horizontal">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <table id="@tblChildTwistingId"></table>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <button type="button" class="btn btn-default m-w-80" id="btnBackToTwisted"><i class="fa fa-angle-double-left"></i>&nbsp;Back</button>
                        <button type="button" class="btn btn-success m-w-80" id="btnNextForDyedCalculation"><i class="fa fa-angle-double-right"></i>&nbsp;Next</button>
                    </div>
                </div>

                <div class="col-sm-12" id="divDyeingDetailsCalculation">
                    <div class="panel panel-success" style="border-color:transparent; border-style:none;">
                        <div class="panel-heading">
                            Dyed Yarn Balance Qty
                        </div>
                        <div class="panel-body">
                            <div class="form-horizontal">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <table id="@tblChildDyedCalculationId"></table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="box-footer btn-e-float-margin" id="divFormButtons">
                    <div class="col-md-offset-2 col-md-10">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default m-w-120" id="btnCancel"><i class="fa fa-angle-double-left"></i>&nbsp;Back to List</button>
                            <button type="button" class="btn btn-primary m-w-120" id="btnSave"><i class="fa fa-save"></i>&nbsp;&nbsp;Save As Draft</button>
                            <button type="button" class="btn btn-success m-w-120" id="btnSaveAndSend"><i class="fa fa-angle-double-right"></i>&nbsp;Save and Send</button>
                            <button type="button" class="btn btn-success m-w-120" style="display:none" id="btnApprove"><i class="fa fa-angle-double-right"></i>&nbsp;Approve</button>
                            <button type="button" class="btn btn-success m-w-120" style="display:none" id="btnAcknowledge"><i class="fa fa-angle-double-right"></i>&nbsp;Acknowlege</button>
                            <button type="button" class="btn btn-danger m-w-120" style="display:none" id="btnUnAcknowledge"><i class="fa fa-ban"></i>&nbsp;UnAcknowlege</button>
                            <button type="button" class="btn btn-primary m-w-120" id="btnRevise"><i class="fa fa-save"></i>&nbsp;&nbsp;Revise</button>
                            <button type="button" class="btn btn-success m-w-120" style="display:none" id="btnApproveMailResend"><i class="fa fa-angle-double-right"></i>&nbsp;Approve Mail Resend</button>
                            <button type="button" class="btn btn-primary m-w-120" id="btnYDBNoSave"><i class="fa fa-save"></i>&nbsp;&nbsp;Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class="modal fade" id="modalTwistingColorSelection">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header" onmousedown="if (drag) drag(this.parentNode, event)">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title">Select Printing Colors</h4>
                </div>
                <div class="modal-body">
                    <div class="row col-sm-12" style="font-family:'Kohinoor Bangla'">
                        <div class="panel-body">
                            <div class="form-horizontal">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <table id="@tblPrintingColorId"></table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="btnAddTwisting" style="display:none;">Add Twisting</button>
                </div>
            </div>
        </div>
    </div>
</div>
