<script type="text/javascript">
    localStorage.setItem("pageName", "@ViewBag.PageName");
    localStorage.setItem("menuId", "@ViewBag.MenuId");
</script>

@{
    var pageId = ViewBag.PageName + "-" + ViewBag.MenuId;
    var divTblId = "divtbl" + pageId;
    var toolbarId = "toolbar" + pageId;
    var tblMasterId = "tbl" + pageId;
    var tblChildId = "tblChild" + pageId;
    var formId = "form" + pageId;
    var divDetailsId = "divDetails" + pageId;
    var tblMergeExistingId = "tblMergeExisting" + pageId;
    var modalMergeExisting = "modal-merge-existing" + pageId;

}

<div id="@pageId">
    <input type="hidden" id="CDAPage" value="@ViewBag.CDAPage" />
    <div class="card card-default" id="@divTblId">
        <div class="col-sm-12 toolBar-parent-div">
            <div id="@toolbarId">
                <button id="btnPendingList" class="btn btn-success text-white btn-sm">
                    <i class="fa fa-pencil-square"></i>&nbsp;Pending BBLC Proposal
                </button>
                <button id="btnEditList" class="btn btn-default btn-sm">
                    <i class="fa fa-pencil-square"></i>&nbsp;Edit List
                </button>
                <button id="btnCompleteList" class="btn btn-default btn-sm">
                    <i class="fa fa-hourglass"></i>&nbsp;BBLC Proposal List
                </button>
                <button id="btnRevisionList" class="btn btn-default btn-sm">
                    <i class="fa fa-list-ul"></i>&nbsp;Revision List
                </button>
                <hr />
                <div>
                    <button id="btnCreate" class="btn btn-primary btn-sm">
                        <i class="fa fa-plus"></i>&nbsp;Create New
                    </button>
                    <button id="btnMergeExisting" class="btn btn-primary btn-sm">
                        <i class="fa fa-pencil-square"></i>&nbsp;Merge With Existing
                    </button>
                </div>
            </div>

            <div style="font-size:12px">
                <table id="@tblMasterId"></table>
            </div>

            @*<div class="pull-right" id="div-create-merge-btns">
            <button id="btnCreate" class="btn btn-primary">
                <i class="fa fa-plus"></i>&nbsp;Create New
            </button>
            <button id="btnMergeExisting" class="btn btn-primary">
                <i class="fa fa-pencil-square"></i>&nbsp;Merge With Existing
            </button>
        </div>*@
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 col-md-12 col-xs-12">
            <form class="form-horizontal" id="@formId">
                <input type="hidden" id="ProposalID" name="ProposalID" value="-1111" />
                <input type="hidden" id="LCID" name="LCID" value="-1111" />
                <input type="hidden" id="EntityState" name="EntityState" value="4" />
                <input type="hidden" name="SupplierID" id="SupplierID" />
                <input type="hidden" name="CompanyID" id="CompanyID" />
                <input type="hidden" name="ProposeContractID" id="ProposeContractID" />

                <div class="card card-default" id="@divDetailsId" style="display:none">
                    <div class="card-body">
                        <div class="card" style="border-color:transparent; border-style:none;">
                            <div class="card-header">
                                <h3 class="card-title"> New BBLC Proposal </h3>
                                <div class="card-tools">
                                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                        <i class="fas fa-minus"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="card-body">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Proposal No</label>
                                  
                                            <input id="ProposalNo" name="ProposalNo" type="text" class="form-control form-control-sm" readonly />
                                        </div>
                                    </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Proposal Date</label>
                                    
                                            <input id="ProposalDate" name="ProposalDate" placeholder="Proposal Date" class="form-control form-control-sm ej2-datepicker" />
                                        </div>
                                    </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Remarks</label>
                                     
                                            <textarea id="Remarks" rows="2" name="Remarks" type="text" placeholder="Remarks" class="form-control form-control-sm"></textarea>
                                        </div>
                                    </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Supplier</label>
                                       
                                            <input id="SupplierName" name="SupplierName" type="text" class="form-control form-control-sm" readonly />
                                        </div>
                                    </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Company</label>
                              
                                            <input id="CompanyName" name="CompanyName" type="text" class="form-control form-control-sm" readonly />
                                        </div>
                                    </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Retirement Mode</label>
                                
                                            <select id="RetirementModeID" name="RetirementModeID" class="form-control" style="width:100%"></select>
                                        </div>
                                    </div>
                                </div>
                        </div>
                    </div>
                        <div class="card" style="border-color: transparent; border-style: none;">
                           
                            <div class="card-header">
                                <h3 class="card-title"> PI Information</h3>
                                <button type="button" id="btnAddPI" class="btn btn-success btn-xs">
                                    <i class="fa fa-plus"></i>&nbsp;&nbsp;Add PI
                                </button>
                            </div>
                            <div class="card-body">
                                <div class="form-horizontal">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <table id="@tblChildId"></table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row align-items-center">
                                <!-- Cash L/C Checkbox -->
                                <div class="col-sm-2 d-flex align-items-center divCashStatus">
                                    <input type="checkbox" class="mr-2" id="CashStatus" name="CashStatus" value="0" />
                                    <label for="CashStatus" class="mb-0">Cash L/C</label>
                                </div>

                                <!-- Propose Contract -->
                                <div class="col-sm-5 d-flex align-items-center divProposeContract">
                                    <label for="ProposeContract" class="col-form-label col-sm-4">Propose Contract No</label>
                                    <div class="col-sm-8 d-flex">
                                        <input id="ProposeContract" name="ProposeContract" type="text" class="form-control form-control-sm" readonly />
                                        <button type="button" id="btnAddCOntractNo" class="btn btn-success btn-xs ml-2">
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </div>
                                </div>

                                <!-- Bank Selection -->
                                <div class="col-sm-5 d-flex align-items-center divIssueBankID">
                                    <label for="ProposeBankID" class="col-form-label col-sm-3">Bank</label>
                                    <div class="col-sm-9">
                                        <select id="ProposeBankID" name="ProposeBankID" class="form-control form-control-sm" disabled></select>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="box-footer btn-e-float-margin" id="divFormButtons">
                            <div class="row">
                                <div class="col-md-12 text-right">
                                    <button type="button" class="btn btn-default m-w-120" id="btCancel"><i class="fa fa-angle-double-left"></i>&nbsp;Back to List</button>
                                    <button type="button" class="btn btn-success m-w-120" id="btnSave"><i class="fa fa-save"></i>&nbsp;&nbsp;Save</button>
                                    <button type="button" class="btn btn-success m-w-120" id="btnRevise"><i class="fa fa-save"></i>&nbsp;&nbsp;Revise</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </form>
        </div>
    </div>

    <div class="modal fade" id="@modalMergeExisting">
        <div class="modal-dialog modal-lg">
            <div class="modal-content modal-lg">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title">Merge Existing Proposals</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                 
                            <div class="form-group">
                                <table id="@tblMergeExistingId"></table>
                            </div>
                     
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

</div>

@*<div id="@pageId">
    <div class="row" id="@divTblId">
        <div class="col-sm-12" id="bblcActionButton">
            <button id="btnPending" class="btn btn-default btn-sm">
                <i class="fa fa-plus"></i>&nbsp;Pending BBLC Proposal
            </button>
            <button id="btnComplete" class="btn btn-default btn-sm">
                <i class="fa fa-pencil-square"></i>&nbsp;BBLC Proposal List
            </button>
        </div>

    </div>


    <div class="row">
        <div class="col-lg-12 col-md-12 col-xs-12">
            <form class="form-horizontal" id="@formId">
                <input type="hidden" id="Id" name="Id" value="-1111" />
                <input type="hidden" id="EntityState" name="EntityState" value="4" />
                <div class="box-body" id="@divDetailsId" style="display:none">
                    <div class="col-md-12" id="divNewProposal" style="display:none">
                        <div class="box box-info">
                            <div class="box-header with-border">
                                <h3 class="box-title">New BBLC Proposal</h3>
                            </div>
                            <div class="box-body">
                                <div class="col-sm-12">
                                    <div id="@toolbarId">

                                    </div>
                                    <div style="font-size:12px;">
                                        <table id="@tblMasterId"></table>
                                    </div>
                                </div>
                            </div>

                            <div class="box-body">
                                <div class="form-group">
                                    <input id="PiNo" name="PiNo" type="text" value="" style="display:none" class="form-control form-control-sm" />
                                    <label class="control-label col-sm-4 small">Remarks</label>
                                    <div class="col-sm-8">
                                        <input id="Remarks" name="Remarks" type="text" value="" rows="3" cols="5" class="form-control form-control-sm" />
                                    </div>
                                </div>
                            </div>

                            <div class="box-footer btn-e-float-margin">
                                <button type="button" class="btn btn-primary pull-right" id="btnCreate"><i class="fa fa-save"></i>&nbsp;Create</button>
                                <button type="button" class="btn btn-default pull-right" id="btnCreateExisting"><i class="fa fa-angle-double-left"></i>Merge with Existing</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12" id="divEditProposal" style="display:none">
                        <div class="box box-info">
                            <div class="box-header with-border">
                                <h3 class="box-title">BBLC Proposal Info</h3>
                            </div>
                            <div class="box-body">
                                <div style="font-size:12px;">
                                    <table id="@tblMasterSaveId"></table>
                                </div>
                            </div>

                            <div class="box-body">
                            </div>

                            <div class="box-footer btn-e-float-margin">
                                <button type="button" class="btn btn-primary pull-right" id="btnSave"><i class="fa fa-save"></i>&nbsp;Save</button>
                                <button type="button" class="btn btn-default pull-right" id="btnBackEdit"><i class="fa fa-angle-double-left"></i>&nbsp;Back to List</button>
                            </div>
                        </div>
                    </div>
                </div>                
            </form>
        </div>

    </div>
</div>*@