<script type="text/javascript">
    localStorage.setItem("pageName", "@ViewBag.PageName");
    localStorage.setItem("menuId", "@ViewBag.MenuId");
     localStorage.setItem("menuParam", "@ViewBag.MenuParam");
</script>

@{
    var pageId = ViewBag.PageName + "-" + ViewBag.MenuId;
    var divTblId = "divtbl" + pageId;
    var toolbarId = "toolbar" + pageId;
    var tblMasterId = "tbl" + pageId;
    var tblChildId = "tblChild" + pageId;
    var tblCompanyModalId = "tblCompanyModal" + pageId;
    var formId = "form" + pageId;
    var divDetailsId = "divDetails" + pageId;
}

<div id="@pageId">
    <input type="hidden" id="AcknowledgePage" value="@ViewBag.AcknowledgePage" />
    <input type="hidden" id="ApprovePage" value="@ViewBag.ApprovePage" />
    <input type="hidden" id="CPRPage" value="@ViewBag.CPRPage" />
    <input type="hidden" id="FPRPage" value="@ViewBag.FPRPage" />

    <div class="row" id="@divTblId">
        <div class="col-12">
            <div id="@toolbarId" class="master-toolbar">
                @*<button id="btnNewPR" class="btn btn-default btn-sm">
            <i class="fa fa-plus"></i>&nbsp;New
        </button>*@
                @*<button id="btnPendingMaterialReqList" class="btn btn-success text-white btn-sm">
            <i class="fa fa-hourglass"></i>&nbsp;Awaiting MR Acknowledge
        </button>*@
                <button id="btnAcknowledgedMaterialReqList" class="btn btn-success text-white btn-sm">
                    <i class="fa fa-hourglass"></i>&nbsp;Pending MR
                </button>
                <button id="btnROLBasePendingList" class="btn btn-default btn-sm">
                    <i class="fa fa-hourglass"></i>&nbsp;Pending ROL Base
                </button>
                @*<button id="btnPendingRevisionList" class="btn btn-default btn-sm">
            <i class="fa fa-hourglass"></i>&nbsp;Pending Revision List
        </button>*@
                <button id="btnEditList" class="btn btn-default btn-sm">
                    <i class="fa fa-hourglass"></i>&nbsp;Edit List
                </button>
                <button id="btnRevisionList" class="btn btn-default btn-sm">
                    <i class="fa fa-hourglass"></i>&nbsp;Revision List
                </button>
                <button id="btnProposedList" class="btn btn-default btn-sm">
                    <i class="fa fa-hourglass"></i>&nbsp;Pending for Approval
                </button>
                <button id="btnApprovedList" class="btn btn-default btn-sm">
                    <i class="fa fa-list-ul"></i>&nbsp;Approved List
                </button>
                <button id="btnRejectdList" class="btn btn-default btn-sm">
                    <i class="fa fa-remove"></i>&nbsp;Reject List
                </button>
                <button id="btnPendingCPRList" class="btn btn-default btn-sm">
                    <i class="fa fa-hourglass"></i>&nbsp;Pending for CPR
                </button>

                <button id="btnDraftList" class="btn btn-default btn-sm">
                    <i class="fa fa-list-ul"></i>&nbsp;Draft List
                </button>

                <button id="btnCPRList" class="btn btn-default btn-sm">
                    <i class="fa fa-list-ul"></i>&nbsp;CPR List
                </button>
                <button id="btnPendingCFRList" class="btn btn-default btn-sm">
                    <i class="fa fa-hourglass"></i>&nbsp;Pending for Acknowledgement
                </button>
                <button id="btnCFRList" class="btn btn-default btn-sm">
                    <i class="fa fa-list-ul"></i>&nbsp;Acknowledged PR List
                </button>
                <button id="btnAllPRList" class="btn btn-default btn-sm">
                    <i class="fa fa-list-ul"></i>&nbsp;All PR
                </button>
                <button id="btnRefreshList" class="btn btn-default btn-sm">
                    <i class="fa fa-refresh"></i>
                </button>

                <div id="divAddPRForMR" style="margin-top: 5px; margin-left: 10px;">
                    <button id="btnAddPRForMR" class="btn btn-default btn-sm">
                        <i class="fa fa-plus"></i>&nbsp;Create Purchase Requisition
                    </button>
                </div>

            </div>
            <div style="font-size:12px">
                <table id="@tblMasterId"></table>
            </div>
        </div>
    </div>
    <div class="row">
        <form id="@formId">

            <input type="hidden" id="YarnPRMasterID" name="YarnPRMasterID" value="-1111" />
            <input type="hidden" id="SubGroupID" name="SubGroupID" />
            <input type="hidden" id="YarnPRFromID" name="YarnPRFromID" />
            <input type="hidden" id="RevisionStatus" name="RevisionStatus" />
            <div class="card card-default" id="@divDetailsId" style="display:none">

                <!-- /.card-header -->
                <div class="card-body">
                    <div class="card" style="border-color:transparent; border-style:none;">
                        <div class="card-header">
                            <h3 class="card-title">  General Information</h3>
                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                    <i class="fas fa-minus"></i>
                                </button>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row">

                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Requisition No</label>

                                        <input id="YarnPRNo" name="YarnPRNo" type="text" class="form-control form-control-sm" readonly />

                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Requisition Date</label>
                                        <input id="YarnPRDate" name="YarnPRDate" class="form-control form-control-sm" readonly />
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Concept/Booking No</label>

                                        <input id="GroupConceptNo" name="GroupConceptNo" type="text" class="form-control form-control-sm" readonly />

                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Trigger Point</label>

                                        <select id="TriggerPointID" name="TriggerPointID" class="form-control form-control-sm" style="width:100%"></select>

                                    </div>
                                </div>
                            </div>


                            <div class="row">
                                <div class="col-md-3" id="ApvBuyer">
                                    <div class="form-group">
                                        <label>Buyer</label>

                                        <input id="Buyer" name="Buyer" type="text" class="form-control form-control-sm" readonly />

                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group d-none">

                                        <div class="icheck-primary">
                                            <input type="checkbox" id="IsRNDPR" class="form-control form-control-sm" name="IsRNDPR" />
                                            <label for="IsRNDPR">Is this PR for RND?</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3" id="divStatus" style="display:none;">
                                    <div class="form-group">
                                        <label>Status</label>

                                        <input id="PRStatus" name="PRStatus" class="form-control form-control-sm" readonly />

                                    </div>
                                </div>
                            </div>
                            <div class="row">

                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Required Date</label>

                                        <input id="YarnPRRequiredDate" name="YarnPRRequiredDate" class="form-control form-control-sm ej2-datepicker" data-date-start-date="0d" readonly />

                                    </div>
                                </div>
                                <div class="col-md-3" id="ApvBuyerTeam">
                                    <div class="form-group">
                                        <label>Buyer Team</label>

                                        <input id="BuyerTeam" name="BuyerTeam" type="text" class="form-control form-control-sm" readonly />

                                    </div>
                                </div>



                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Requisition By</label>

                                        <input id="YarnPRByName" name="YarnPRByName" type="text" class="form-control form-control-sm" readonly />
                                        <!--<select id="YarnPRBy" name="YarnPRBy" class="form-control input-sm" style="width:100%"></select>-->
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Remarks</label>

                                        <textarea id="Remarks" rows="2" name="Remarks" type="text" placeholder="Remarks" class="form-control form-control-sm"></textarea>

                                    </div>
                                </div>
                                <div class="col-md-3" id="divRejectReason" style="display:none;">
                                    <div class="form-group">
                                        <label>Rejct Reason</label>

                                        <textarea id="RejectReason" rows="2" name="RejectReason" type="text" class="form-control form-control-sm" readonly></textarea>
                                    </div>
                                </div>
                                <div class="col-md-3" id="divUnAcknowledgeReason" style="display:none;">
                                    <div class="form-group">
                                        <label>UnAcknowledge Reason</label>

                                        <textarea id="UnAcknowledgeReason" rows="2" name="UnAcknowledgeReason" type="text" class="form-control form-control-sm" readonly></textarea>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card" style="border-color:transparent; border-style:none;">
                        <div class="card-header">
                            <h3 class="card-title">  Item Information</h3>

                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div style="width:100% !important">
                                    <table id="@tblChildId"></table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer btn-e-float-margin">
                        <div class="row">
                            <div class="offset-md-2 col-md-10">
                                <div class="d-flex justify-content-end">
                                    <button type="button" class="btn btn-default m-w-120 mr-2" id="btnCancel">
                                        <i class="fa fa-angle-double-left"></i>&nbsp;Back to List
                                    </button>
                                    <button type="button" class="btn btn-primary m-w-120 mr-2" id="btnSave">
                                        <i class="fa fa-save"></i>&nbsp;&nbsp;Save
                                    </button>
                                    <button type="button" class="btn btn-success m-w-120 mr-2" id="btnSaveForApproval">
                                        <i class="fa fa-save"></i>&nbsp;&nbsp;Save & Send for acknowledge
                                    </button>
                                    <button type="button" class="btn btn-success m-w-120 mr-2" id="btnAcknowledge">
                                        <i class="fa fa-save"></i>&nbsp;&nbsp;Acknowledge
                                    </button>
                                    <button type="button" class="btn btn-success m-w-120 mr-2" id="btnAcknowledgeMR" style="display:none">
                                        <i class="fa fa-check-square-o"></i>&nbsp;Acknowledge MR
                                    </button>
                                    <button type="button" class="btn btn-success m-w-120 mr-2" id="btnApproveYPR" style="display:none">
                                        <i class="fa fa-check-square-o"></i>&nbsp;Approve
                                    </button>
                                    <button type="button" class="btn btn-danger m-w-120" id="btnRejectYPR" style="display:none">
                                        <i class="fa fa-remove"></i>&nbsp;Reject
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.row -->
            </div>
            <!-- /.card-body -->

        </form>
    </div>
</div>

<div class="modal fade" id="modal-child">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header" onmousedown="if (drag) drag(this.parentNode, event)">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" id="childTitle"></h4>
                Purchase Requisition
            </div>
            <div class="modal-body">
                <div class="row col-12" style="font-family:'Kohinoor Bangla'">
                    <div class="card-heading">
                        Commercial Company Information
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <table id="@tblCompanyModalId"></table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

            </div>
        </div>
    </div>
</div>
