<script type="text/javascript">
    localStorage.setItem("pageName", "@ViewBag.PageName");
    localStorage.setItem("menuId", "@ViewBag.MenuId");
</script>

@{
    var pageId = ViewBag.PageName + "-" + ViewBag.MenuId;
    var divTblId = "divtbl" + pageId;
    var toolbarId = "toolbar" + pageId;
    var tblMasterId = "tbl" + pageId;
    var tblChildId = "tblChild" + pageId;
    var formId = "form" + pageId;
    var divDetailsId = "divDetails" + pageId;
}

<div id="@pageId">
    <input type="hidden" id="CDAPage" value="@ViewBag.CDAPage" />
    <div class="row" id="@divTblId">
        <div class="col-sm-12">
            <div id="@toolbarId">
                <button id="btnPending" class="btn btn-success text-white btn-sm">
                    <i class="fa fa-plus"></i>&nbsp;Pending
                </button>
                <button id="btnAcceptList" class="btn btn-default text-grey btn-sm">
                    <i class="fa fa-list"></i>&nbsp;Accepted List
                </button>
                <button id="btnRejectList" class="btn btn-default text-grey btn-sm">
                    <i class="fa fa-list"></i>&nbsp;Rejected List
                </button>
                @*<button id="btnRevisionList" class="btn btn-default btn-sm">
                    <i class="fa fa-list-ul"></i>&nbsp;Revision List
                </button>*@
            </div>
        </div>
        <div class="col-sm-12" style="font-size:12px">
            <table id="@tblMasterId"></table>
        </div>
    </div>
    <div class="row">
        <form class="form-horizontal" id="@formId">
            <input type="hidden" id="YPIReceiveMasterID" name="YPIReceiveMasterID" value="-1111" />
            <input type="hidden" id="IsCDA" name="IsCDA" />


            <div class="card card-default" id="@divDetailsId" style="display:none">
                <div class="card-body">

                    <div class="card" style="border-color:transparent; border-style:none;">

                        <div class="card-header">
                            <h3 class="card-title">   General/Commercial Information</h3>
                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                    <i class="fas fa-minus"></i>
                                </button>
                            </div>
                        </div>
                        <div class="card-body">

                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>PI No</label>
                                        <input id="YPINo" name="YPINo" class="form-control form-control-sm" readonly />
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>PI Date</label>
                                        <input id="PIDate" name="PIDate" class="form-control form-control-sm" readonly />
                                    </div>
                                </div>


                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Supplier</label>

                                        <input id="SupplierName" name="SupplierName" class="form-control form-control-sm" readonly />

                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Yarn PO (for PI)</label>
                                        <input id="PONo" name="PONo" class="form-control form-control-sm" readonly />
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                    <div class="card" style="border-color:transparent; border-style:none">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="card-header">
                                            <h3 class="card-title">   Summary PI Values</h3>

                                        </div>
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label>Total PI Qty</label>

                                                        <div class="input-group">
                                                            <div class="input-group-addon">$</div>
                                                            <input id="PIQty" name="PIQty" class="form-control" value="0" style="text-align:right" />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label>Total PI Value</label>

                                                        <div class="input-group">
                                                            <div class="input-group-addon">$</div>
                                                            <input id="PIValue" name="PIValue" class="form-control" value="0" style="text-align:right" />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label>Additional Value</label>

                                                        <div class="input-group">
                                                            <div class="input-group-addon">$</div>
                                                            <input id="TotalAddValue" name="TotalAddValue" class="form-control" value="0" readonly style="text-align:right" />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label>Deduction Value</label>

                                                        <div class="input-group">
                                                            <div class="input-group-addon">$</div>
                                                            <input id="TotalDeductionValue" name="TotalDeductionValue" class="form-control" value="0" readonly style="text-align:right" />
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label>Net PI Value</label>

                                                        <div class="input-group">
                                                            <div class="input-group-addon">$</div>
                                                            <input id="NetPIValue" name="NetPIValue" class="form-control" value="0" readonly style="text-align:right" />
                                                        </div>
                                                    </div>
                                                </div>


                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label>LC Type</label>

                                                        <div class="input-group">
                                                            <input id="TypeOfLc" name="TypeOfLc" class="form-control" value="0" readonly style="text-align:left" />
                                                        </div>
                                                    </div>
                                                </div>

                                                <div id="divCreditDays" class="col-md-6">
                                                    <div class="form-group">
                                                        <label>Credit Days</label>

                                                        <div class="input-group">
                                                            <input id="CreditDays" name="CreditDays" class="form-control" value="0" readonly style="text-align:left" />
                                                        </div>
                                                    </div>
                                                </div>


                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label>Tolerance (%)</label>

                                                        <div class="input-group">
                                                            <input id="ShippingTolerance" name="ShippingTolerance" class="form-control" value="0" readonly style="text-align:right" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="card-header">
                                            <h3 class="card-title">Summary PO Values</h3>

                                        </div>
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label>Total PO Qty</label>

                                                        <div class="input-group">
                                                            <div class="input-group-addon">$</div>
                                                            <input id="TotalQty" name="TotalQty" class="form-control" value="0" readonly style="text-align:right" />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label>Total PO Value</label>

                                                        <div class="input-group">
                                                            <div class="input-group-addon">$</div>
                                                            <input id="TotalValue" name="TotalValue" class="form-control" value="0" readonly style="text-align:right" />
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label>LC Type</label>

                                                        <div class="input-group">
                                                            <input id="TypeOfLcPO" name="TypeOfLcPO" class="form-control" value="0" readonly style="text-align:left" />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div id="divCreditDaysPO" class="col-md-6">
                                                    <div class="form-group">
                                                        <label>Credit Days</label>

                                                        <div class="input-group">
                                                            <input id="CreditDaysPO" name="CreditDaysPO" class="form-control" value="0" readonly style="text-align:left" />
                                                        </div>
                                                    </div>
                                                </div>


                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label>Tolerance (%)</label>

                                                        <div class="input-group">
                                                            <input id="ShippingTolerancePO" name="ShippingTolerancePO" class="form-control" value="0" readonly style="text-align:right" />
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-md-6" style="visibility:hidden">
                                                    <div class="form-group">
                                                        <label>Additional Value</label>

                                                        <div class="input-group">
                                                            <div class="input-group-addon">$</div>
                                                            <input id="TotalAddValuePO" name="TotalAddValuePO" class="form-control" value="0" style="text-align:right" />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6" style="visibility:hidden">
                                                    <div class="form-group">
                                                        <label>Deduction Value</label>

                                                        <div class="input-group">
                                                            <div class="input-group-addon">$</div>
                                                            <input id="TotalDeductionValuePO" name="TotalDeductionValuePO" class="form-control" value="0" style="text-align:right" />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6" style="visibility:hidden">
                                                    <div class="form-group">
                                                        <label>Net PO Value</label>

                                                        <div class="input-group">
                                                            <div class="input-group-addon">$</div>
                                                            <input id="NetPOValue" name="NetPOValue" class="form-control" value="0" readonly style="text-align:right" />
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>


                    </div>
                    <div id="divReject" class="card">
                        <div class="card-header">
                            <h3 class="card-title"> Reject </h3>

                        </div>

                        <div class="card-body">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label col-sm-2 small">Reject Reason</label>
                                    <div class="col-sm-10">
                                        <textarea id="RejectReason" name="RejectReason" class="form-control" cols="2"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                    <div class="card-footer btn-e-float-margin">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default btn-sm m-w-120" id="btnCancel"><i class="fa fa-angle-double-left"></i>&nbsp;Back to List</button>
                            <button type="button" class="btn btn-success btn-sm  m-w-120" id="btnAccept"><i class="fa fa-check"></i>&nbsp;&nbsp;Accept</button>
                            <button type="button" class="btn btn-danger btn-sm  m-w-120" id="btnReject"><i class="fa fa-ban"></i>&nbsp;&nbsp;Reject</button>
                        </div>
                    </div>
                </div>



            </div>

        </form>
    </div>
</div>
