<script type="text/javascript">
    localStorage.setItem("pageName", "@ViewBag.PageName");
    localStorage.setItem("menuId", "@ViewBag.MenuId");

</script>
@* <script type="text/javascript" src="./App_Themes/lib/bootstrap/js/bootstrap.js"></script>
 *@@{
    var pageId = ViewBag.PageName + "-" + ViewBag.MenuId;
    var divTblId = "divtbl" + pageId;
    var toolbarId = "toolbar" + pageId;
    var tblMasterId = "tbl" + pageId;
    var tblChildId = "tblChild" + pageId;
    var formId = "form" + pageId;
    var divDetailsId = "divDetails" + pageId;
}

<div id="@pageId">
    <input type="hidden" id="CDAPage" value="@ViewBag.CDAPage" />
    <div class="row" id="@divTblId">
        <div class="col-sm-12 toolBar-parent-div">
            <div id="@toolbarId">
                <button id="btnPending" class="btn btn-success text-white btn-sm">
                    <i class="fa fa-hourglass"></i>&nbsp;Pending Allocation
                </button>
                <button id="btnPartialLists" class="btn btn-default text-grey btn-sm">
                    <i class="fa fa-bell"></i>&nbsp;Partial Allocation Lists
                </button>
                <button id="btnCompleteLists" class="btn btn-default text-grey btn-sm">
                    <i class="fa fa-bell"></i>&nbsp;Complete Allocation Lists
                </button>
            </div>
        </div>
        <div class="col-sm-12" style="font-size:12px">

            <table id="@tblMasterId"></table>
        </div>
    </div>
    <div class="row">
        <form class="form-horizontal" id="@formId">
            <input type="hidden" id="ReceiveID" name="ReceiveID" value="-1111" />
            <input type="hidden" name="CiId" id="CiId" />
            <input type="hidden" name="LcId" id="LcId" />
            <input type="hidden" name="PoId" id="PoId" />
            <input type="hidden" name="SupplierId" id="SupplierId" />
            <input type="hidden" name="RCompanyId" id="RCompanyId" />
            <input type="hidden" name="OCompanyId" id="OCompanyId" />
            <input type="hidden" name="BankBranchId" id="BankBranchId" />
            <input type="hidden" name="CurrencyId" id="CurrencyId" />
            <div class="card card-default" id="@divDetailsId" style="display:none">

            <div class="card-body">
                <div class="card" style="border-color:transparent; border-style:none;">
                    <div class="card-header">
                        <h3 class="card-title"> General/Commercial Information </h3>
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                        </div>
                    </div>

                        <div class="card-body">
                            <!-- Row 1 -->
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Receive No</label>
                                        <input id="ReceiveNo" name="ReceiveNo" class="form-control form-control-sm" readonly />
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>PO No</label>
                                        <input id="PONo" name="PONo" class="form-control form-control-sm" readonly />
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Supplier</label>
                                        <input id="SupplierName" name="SupplierName" class="form-control input-sm" readonly />
                                    </div>
                                </div>

                                <div class="form-group CI" hidden>
                                    <label class="control-label col-sm-5 small">L/C No</label>
                                    <div class="col-sm-7">
                                        <input id="LCNo" name="LCNo" class="form-control input-sm" readonly />
                                    </div>
                                </div>

                                <div class="form-group CI" hidden>
                                    <label class="control-label col-sm-5 small">L/C Date</label>
                                    <div class="col-sm-7" style="text-align:right">
                                        <input id="LCDate" name="LCDate" class="form-control input-sm ej2-datepicker" />
                                    </div>
                                </div>

                            </div>

                            <!-- Row 2 -->
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Receive Date</label>
                                        <input id="ReceiveDate" name="ReceiveDate" class="form-control input-sm ej2-datepicker" />
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>PO Date</label>
                                        <input id="PODate" name="PODate" class="form-control input-sm ej2-datepicker" />
                                    </div>
                                    <div class="form-group">
                                        <label>Tolerance</label>
                                        <input id="Tolerance" name="Tolerance" class="form-control input-sm" readonly />
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Spinner</label>
                                        <input id="SpinnerName" name="SpinnerName" class="form-control input-sm" readonly />
                                    </div>
                                </div>

                                <div class="form-group CI" hidden>
                                    <label class="control-label col-sm-5 small">Invoice No</label>
                                    <div class="col-sm-7">
                                        <input id="InvoiceNo" name="InvoiceNo" class="form-control input-sm" readonly />
                                    </div>
                                </div>

                                <div class="form-group CI" hidden>
                                    <label class="control-label col-sm-5 small">Invoice Date</label>
                                    <div class="col-sm-7">
                                        <input id="InvoiceDate" name="InvoiceDate" class="form-control input-sm ej2-datepicker" />
                                    </div>
                                </div>

                                <div class="form-group CI" hidden>
                                    <label class="control-label col-sm-5 small">Bank-Branch</label>
                                    <div class="col-sm-7">
                                        <input id="BankBranchName" name="BankBranchName" class="form-control input-sm" readonly />
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
                        
                <div class="card" style="border-color:transparent; border-style:none;">
                    <div class="card-header">
                        <h3 class="card-title"> Receive Information </h3>
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Acompanied Invoice</label>
                                <input id="ACompanyInvoice" name="ACompanyInvoice" class="form-control input-sm" readonly />
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Transport Type</label>
                                <input id="TransportTypeName" name="TransportTypeName" class="form-control input-sm" style="width:100%" readonly />
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Vehicle No</label>
                                <input id="VehicalNo" name="VehicalNo" class="form-control input-sm" readonly />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Challan No</label>
                                <input id="ChallanNo" name="ChallanNo" class="form-control input-sm" readonly />
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Transport Agency</label>
                                <input id="TransportAgencyName" name="TransportAgencyName" class="form-control input-sm" style="width:100%" readonly />
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Shipment Status</label>
                                <input id="ShipmentStatusName" name="ShipmentStatusName" class="form-control input-sm" style="width:100%" readonly />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Challan Date</label>
                                <input id="ChallanDate" name="ChallanDate" class="form-control input-sm ej2-datepicker" />
                            </div>
                            <div class="form-group">
                                <label>PL No</label>
                                <input id="PLNo" name="PLNo" class="form-control input-sm" readonly />
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Received By</label>
                                <input id="ReceivedBy" name="ReceivedBy" class="form-control input-sm" style="width:100%" readonly />
                            </div>
                        </div>
                        
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Store Location</label>
                                <input id="LocationName" name="LocationName" class="form-control input-sm" style="width:100%" readonly />
                            </div>
                            <div class="form-group">
                                <label>Remarks</label>
                                <textarea rows="2" id="Remarks" name="Remarks" class="form-control" placeholder="Enter additional notes" readonly></textarea>
                            </div>
                        </div>

                        <div class="col-sm-4" hidden>
                            <div class="form-group d-none">
                                <label class="control-label col-sm-5 small">Mode of Transport</label>
                                <input id="TransportModeName" name="TransportModeName" class="form-control input-sm" style="width:100%" readonly />
                            </div>
                        </div>

                        <div class="form-group" hidden>
                            <label class="control-label col-sm-5 small">Gate In Time</label>
                            <div class="col-sm-7">
                                <div class="input-group clockpicker">
                                    <input id="GPTime" name="GPTime" type="text" class="form-control" placeholder="Now">
                                    <span class="input-group-addon">
                                        <span class="fa fa-clock-o"></span>
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group CI" hidden>
                            <label class="control-label col-sm-5 small">BL No</label>
                            <div class="col-sm-7">
                                <input id="BLNo" name="BLNo" class="form-control input-sm" readonly />
                            </div>
                        </div>
                        </div>      
                </div>
            </div>
                <div class="col-sm-12">
                    <div class="panel panel-success" style="border-color:transparent; border-style:none;">
                        <div class="panel-heading">
                            Item Information
                        </div>
                        <div class="panel-body">
                            <div class="form-horizontal">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <table id="@tblChildId"></table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="box-footer btn-e-float-margin" id="divFormButtons">
                    <div class="row">
                        <div class="col-md-12 text-right">
                            <button type="button" class="btn btn-default m-w-120" id="btnYREditCancel"><i class="fa fa-angle-double-left"></i>&nbsp;Back to List</button>
                            <button type="button" class="btn btn-primary m-w-120" id="btnSaveYR"><i class="fa fa-save"></i>&nbsp;&nbsp;Save</button>
                            <button type="button" class="btn btn-success m-w-120" id="btnYRAcceptance" style="display:none"><i class="fa fa-angle-double-right"></i>&nbsp;Accept</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

