<script type="text/javascript">
    localStorage.setItem("pageName", "@ViewBag.PageName");
    localStorage.setItem("menuId", "@ViewBag.MenuId");
    localStorage.setItem("menuParam", "@ViewBag.MenuParam");
</script>

@{
    var pageId = ViewBag.PageName + "-" + ViewBag.MenuId;
    var divTblId = "divtbl" + pageId;
    var toolbarId = "toolbar" + pageId;
    var tblMasterId = "tbl" + pageId;
    var tblChildId = "tblChild" + pageId;
    var formId = "form" + pageId;
    var divDetailsId = "divDetails" + pageId;
}
<div id="@pageId">
    <input type="hidden" id="CDAPage" value="@ViewBag.CDAPage" />
    <div class="row" id="@divTblId">
        <div class="col-sm-12">
            <div id="@toolbarId">
                <button id="btnPendingReceive" class="btn btn-success text-white btn-sm btnToolBar">
                    <i class="fa fa-list"></i>&nbsp;Pending Received
                </button>
                <button id="btnNewSampleYarn" class="btn btn-default text-grey btn-sm btnToolBar">
                    <i class="fa fa-plus"></i>&nbsp;New Sample Yarn
                </button>
                <button id="btnReceiveLists" class="btn btn-default text-grey btn-sm btnToolBar">
                    <i class="fa fa-list"></i>&nbsp;Draft List
                </button>
                <button id="btnPendingForApprovalList" class="btn btn-default text-grey btn-sm btnToolBar">
                    <i class="fa fa-list"></i>&nbsp;Pending for approval
                </button>
                <button id="btnApproveList" class="btn btn-default text-grey btn-sm btnToolBar">
                    <i class="fa fa-list"></i>&nbsp;Approved List
                </button>
                <div id="PendingType" style="margin-top: 5px; margin-left: 10px;" class="btnToolBar">
                    <div class="icheck-primary icheck-inline">
                        <input type="radio" id="btnRdoCommercialInvoice" name="ReceiveType-@pageId" value="1"><label id="lblCommercialInvoice" style="margin-left:5px; margin-right: 30px;" for="btnRd1">Commercial Invoice</label>
                    </div>

                    <div class="icheck-primary icheck-inline">
                        <input type="radio" id="btnRdoPurchaseOrder" name="ReceiveType-@pageId" value="2" checked><label id="lblPurchaseOrder" style="margin-left:5px;" for="btnRd2">Purchase Order</label>
                    </div>
                    @*<div class="icheck-primary icheck-inline">
                            <input type="radio" id="btnRdoSampleFabric" name="ReceiveType-@pageId" value="3"><label id="lblSampleFabric" style="margin-left:5px;" for="btnRd3">Sample Fabric</label>
                        </div>*@
                </div>
            </div>
        </div>
        <div class="col-sm-12" style="font-size:12px">
            <table id="@tblMasterId"></table>
        </div>
    </div>
    <div class="row">
        <form class="form-horizontal" id="@formId">
            <input type="hidden" id="ReceiveID" name="ReceiveID" value="-1111" />
            <input type="hidden" name="LCID" id="LCID" />
            <input type="hidden" name="LCID" id="LCID" />
            <input type="hidden" name="POID" id="POID" />
            <input type="hidden" name="SupplierID" id="SupplierID" />
            <input type="hidden" name="RCompanyID" id="RCompanyID" />
            <input type="hidden" name="OCompanyID" id="OCompanyID" />
            <input type="hidden" name="BankBranchID" id="BankBranchID" />
            <input type="hidden" name="CurrencyID" id="CurrencyID" />

            <div class="box-body" id="@divDetailsId" style="display:none">
                <div class="col-sm-12">
                    <div class="panel panel-success" style="border-color:transparent; border-style:none;">
                        <div class="panel-heading">
                            General/Commercial Information
                        </div>
                        <div class="panel-body">
                            <div class="form-horizontal">
                                <div class="col-sm-12">
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label class="control-label col-sm-5 small">Receive No</label>
                                            <div class="col-sm-7">
                                                <input id="ReceiveNo" name="ReceiveNo" class="form-control input-sm" value="**<< NEW >>**" readonly />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-sm-5 small">Receive Date</label>
                                            <div class="col-sm-7">
                                                <input id="ReceiveDate" name="ReceiveDate" class="form-control input-sm" readonly />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-sm-5 small">Company</label>
                                            <div class="col-sm-7">
                                                <input id="RCompany" name="RCompany" class="form-control input-sm" readonly />
                                                <button type="button" id="btnCompanyName" class="fa fa-eye" style="float:left;height:24px">
                                                </button>
                                            </div>
                                        </div>
                                        <div class="form-group CI clsHideShow">
                                            <label class="control-label col-sm-5 small">L/C No</label>
                                            <div class="col-sm-7">
                                                <input id="LCNo" name="LCNo" class="form-control input-sm" readonly />
                                            </div>
                                        </div>

                                        <div class="form-group CI clsHideShow">
                                            <label class="control-label col-sm-5 small">L/C Date</label>
                                            <div class="col-sm-7" style="text-align:right">
                                                <input id="LCDate" name="LCDate" class="form-control input-sm" readonly />
                                            </div>
                                        </div>

                                    </div>

                                    <div class="col-sm-4">

                                        <div class="form-group PO">
                                            <label class="control-label col-sm-5 small">PO Date</label>
                                            <div class="col-sm-7" style="text-align:right">
                                                <input id="PODate" name="PODate" class="form-control input-s" readonly />
                                            </div>
                                        </div>

                                        <div class="form-group PO">
                                            <label class="control-label col-sm-5 small">PO No</label>
                                            <div class="col-sm-7" style="text-align:right">
                                                <input id="PONo" name="PONo" class="form-control input-sm" readonly />
                                            </div>
                                        </div>

                                        <div class="form-group CI clsHideShow">
                                            <label class="control-label col-sm-5 small">Invoice No</label>
                                            <div class="col-sm-7">
                                                <input id="InvoiceNo" name="InvoiceNo" class="form-control input-sm" readonly />
                                            </div>
                                        </div>

                                        <div class="form-group CI clsHideShow">
                                            <label class="control-label col-sm-5 small">Invoice Date</label>
                                            <div class="col-sm-7">
                                                <input id="InvoiceDate" name="InvoiceDate" class="form-control input-sm" readonly />
                                            </div>
                                        </div>

                                        <div class="form-group TOL">
                                            <label class="control-label col-sm-5 small">Tolerance</label>
                                            <div class="col-sm-7" style="text-align:right">
                                                <input id="Tolerance" name="Tolerance" class="form-control input-sm" value="0" readonly />
                                            </div>
                                        </div>

                                    </div>

                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label class="control-label col-sm-5 small">Supplier</label>
                                            <div class="col-sm-7">
                                                <input id="SupplierName" name="SupplierName" class="form-control input-sm" readonly />
                                                <button type="button" id="btnSupplierName" class="fa fa-eye" style="float:left;height:24px">
                                                </button>
                                            </div>
                                        </div>

                                        @*<div class="form-group">
                                                <label class="control-label col-sm-5 small">Spinner</label>
                                                <div class="col-sm-7">
                                                    <select id="SpinnerID" name="SpinnerID" class="form-control input-sm" style="width:100%"></select>
                                                </div>
                                            </div>*@

                                        <div class="form-group CI clsHideShow">
                                            <label class="control-label col-sm-5 small">Bank-Branch</label>
                                            <div class="col-sm-7">
                                                <input id="BankBranchName" name="BankBranchName" class="form-control input-sm" readonly />
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="panel panel-success" style="border-color:transparent; border-style:none;">
                        <div class="panel-heading">
                            Receive Information
                        </div>
                        <div class="panel-body">
                            <div class="form-horizontal">
                                <div class="col-sm-12">
                                    <div class="col-sm-4">
                                        <div id="divACompanyInvoice" class="form-group">
                                            <label class="control-label col-sm-5 small">Acompanied Invoice</label>
                                            <div class="col-sm-7">
                                                <input id="ACompanyInvoice" name="ACompanyInvoice" class="form-control input-sm" />
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="control-label col-sm-5 small">Challan No</label>
                                            <div class="col-sm-7">
                                                <input id="ChallanNo" name="ChallanNo" class="form-control input-sm" />
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="control-label col-sm-5 small">Challan Date</label>
                                            <div class="col-sm-7">
                                                <input id="ChallanDate" name="ChallanDate" class="form-control input-sm ej2-datepicker" />
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="control-label col-sm-5 small">PL No</label>
                                            <div class="col-sm-7">
                                                <input id="PLNo" name="PLNo" class="form-control input-sm" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-sm-5 small">PL Date</label>
                                            <div class="col-sm-7">
                                                <input id="PLDate" name="PLDate" class="form-control input-sm ej2-datepicker" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-sm-5 small">Truck Challan No</label>
                                            <div class="col-sm-7">
                                                <input id="TruckChallanNo" name="TruckChallanNo" class="form-control input-sm" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-sm-5 small">Truck Challan Date</label>
                                            <div class="col-sm-7">
                                                <input id="TruckChallanDate" name="TruckChallanDate" class="form-control input-sm ej2-datepicker" />
                                            </div>
                                        </div>
                                        <div class="form-group CI">
                                            <label class="control-label col-sm-5 small">BL No</label>
                                            <div class="col-sm-7">
                                                <input id="BLNo" name="BLNo" class="form-control input-sm" />
                                            </div>
                                        </div>

                                        <div class="form-group" hidden>
                                            <label class="control-label col-sm-5 small">Gate In Time</label>
                                            <div class="col-sm-7">
                                                <div class="input-group clockpicker">
                                                    <input id="GPTime" name="GPTime" type="text" class="form-control" placeholder="Now">
                                                    <span class="input-group-addon">
                                                        <span class="fa fa-clock-o"></span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group d-none">
                                            <label class="control-label col-sm-5 small">Mode of Transport</label>
                                            <div class="col-sm-7">
                                                <select id="TransportMode" name="TransportMode" class="form-control input-sm" style="width:100%"></select>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="control-label col-sm-5 small">Transport Type</label>
                                            <div class="col-sm-7">
                                                <select id="TransportTypeID" name="TransportTypeID" class="form-control input-sm" style="width:100%"></select>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="control-label col-sm-5 small">Transport Agency</label>
                                            <div class="col-sm-7">
                                                <select id="CContractorID" name="CContractorID" class="form-control input-sm" style="width:100%"></select>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="control-label col-sm-5 small">Vehicle No</label>
                                            <div class="col-sm-7">
                                                <input id="VehicalNo" name="VehicalNo" class="form-control input-sm" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-sm-5 small">GP No</label>
                                            <div class="col-sm-7">
                                                <input id="GPNo" name="GPNo" class="form-control input-sm" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-sm-5 small">GP Date</label>
                                            <div class="col-sm-7">
                                                <input id="GPDate" name="GPDate" class="form-control input-sm ej2-datepicker" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-sm-5 small">Mushak No</label>
                                            <div class="col-sm-7">
                                                <input id="MushakNo" name="MushakNo" class="form-control input-sm" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-sm-5 small">Mushak Date</label>
                                            <div class="col-sm-7">
                                                <input id="MushakDate" name="MushakDate" class="form-control input-sm ej2-datepicker" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label class="control-label col-sm-5 small">Shipment Status</label>
                                            <div class="col-sm-7">
                                                <select id="ShipmentStatus" name="ShipmentStatus" class="form-control input-sm" style="width:100%"></select>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="control-label col-sm-5 small">Store Location</label>
                                            <div class="col-sm-7">
                                                <select id="LocationID" name="LocationID" class="form-control input-sm" style="width:100%"></select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-sm-5 small">Bill Entry No</label>
                                            <div class="col-sm-7">
                                                <input id="BillEntryNo" name="BillEntryNo" class="form-control input-sm" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-sm-5 small">Remarks</label>
                                            <div class="col-sm-7">
                                                <textarea rows="2" id="Remarks" name="Remarks" class="form-control" placeholder="Enter additional notes"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="panel panel-success" style="border-color:transparent; border-style:none;">
                        <div class="panel-heading">
                            Item Information
                            <button type="button" class="btn btn-success btn-xs" id="btnAddItemPopup">
                                <i class="fa fa-plus"></i>&nbsp;&nbsp; Add Item
                            </button>
                        </div>
                        <div class="panel-body">
                            <div class="form-horizontal">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <table id="@tblChildId"></table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-footer btn-e-float-margin" id="divFormButtons">
                    <div class="col-md-offset-2 col-md-10">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default m-w-120" id="btnYREditCancel"><i class="fa fa-angle-double-left"></i>&nbsp;Back to List</button>
                            <button type="button" class="btn btn-primary m-w-120 btnAction" id="btnSaveYR" style="display:none"><i class="fa fa-save"></i>&nbsp;&nbsp;Save</button>
                            <button type="button" class="btn btn-success m-w-120 btnAction" id="btnYRAcceptance" style="display:none"><i class="fa fa-angle-double-right"></i>&nbsp;Accept</button>
                            <button type="button" class="btn btn-success m-w-120 btnAction" id="btnSendForApproval" style="display:none"><i class="fa fa-save"></i>&nbsp;&nbsp;Save & Send for approval</button>
                            <button type="button" class="btn btn-success m-w-120 btnAction" id="btnApprove" style="display:none"><i class="fa fa-save"></i>&nbsp;&nbsp;Approve</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal fade" tabindex="-1" role="dialog" id="modal-new-item-@pageId" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Create New Item</h4>
                </div>
                <div class="modal-body" style="padding: 0 15px">
                    <table id="tblCreateItem-@pageId"></table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default m-w-100" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary m-w-100" id="btnAddItem">Add</button>
                </div>
            </div>
        </div>
    </div>
</div>
