<script type="text/javascript">
    localStorage.setItem("pageName", "@ViewBag.PageName");
    localStorage.setItem("menuId", "@ViewBag.MenuId");
    localStorage.setItem("menuParam", "@ViewBag.MenuParam");
</script>

@{
    var pageId = ViewBag.PageName + "-" + ViewBag.MenuId;
    var divTblId = "divtbl" + pageId;
    var toolbarId = "toolbar" + pageId;
    var tblMasterId = "tbl" + pageId;
    var tblChildId = "tblChild" + pageId;
    var formId = "form" + pageId;
    var divDetailsId = "divDetails" + pageId;
}
<div id="@pageId">
    <input type="hidden" id="CDAPage" value="@ViewBag.CDAPage" />
    <div class="row" id="@divTblId">
        <div class="col-sm-12 toolBar-parent-div">
            <div id="@toolbarId">
                <button id="btnPendingReceive" class="btn btn-success btn-sm btnToolBar">
                    <i class="fa fa-list"></i>&nbsp;Pending Received
                </button>
                <button id="btnNewSampleYarn" class="btn btn-default text-grey btn-sm btnToolBar">
                    <i class="fa fa-plus"></i>&nbsp;New Sample Yarn
                </button>
                <button id="btnReceiveLists" class="btn btn-default text-grey btn-sm btnToolBar">
                    <i class="fa fa-list"></i>&nbsp;Draft List
                </button>
                <button id="btnPendingForApprovalList" class="btn btn-default text-grey btn-sm btnToolBar">
                    <i class="fa fa-list"></i>&nbsp;Pending for approval
                </button>
                <button id="btnApproveList" class="btn btn-default text-grey btn-sm btnToolBar">
                    <i class="fa fa-list"></i>&nbsp;Approved List
                </button>
                <div id="PendingType" style="margin-top: 5px; margin-left: 10px;" class="btnToolBar">
                    <div class="icheck-primary icheck-inline">
                        <input type="radio" id="btnRdoCommercialInvoice" name="ReceiveType-@pageId" value="1"><label id="lblCommercialInvoice" style="margin-left:5px; margin-right: 30px;" for="btnRd1">Commercial Invoice</label>
                    </div>

                    <div class="icheck-primary icheck-inline">
                        <input type="radio" id="btnRdoPurchaseOrder" name="ReceiveType-@pageId" value="2" checked><label id="lblPurchaseOrder" style="margin-left:5px;" for="btnRd2">Purchase Order</label>
                    </div>
                    @*<div class="icheck-primary icheck-inline">
                            <input type="radio" id="btnRdoSampleFabric" name="ReceiveType-@pageId" value="3"><label id="lblSampleFabric" style="margin-left:5px;" for="btnRd3">Sample Fabric</label>
                        </div>*@
                </div>
            </div>
        </div>
        <div class="col-sm-12" style="font-size:12px">
            <table id="@tblMasterId"></table>
        </div>
    </div>
    <div class="row">
        <form class="form-horizontal" id="@formId">
            <input type="hidden" id="ReceiveID" name="ReceiveID" value="-1111" />
            <input type="hidden" name="LCID" id="LCID" />
            <input type="hidden" name="LCID" id="LCID" />
            <input type="hidden" name="POID" id="POID" />
            <input type="hidden" name="SupplierID" id="SupplierID" />
            <input type="hidden" name="RCompanyID" id="RCompanyID" />
            <input type="hidden" name="OCompanyID" id="OCompanyID" />
            <input type="hidden" name="BankBranchID" id="BankBranchID" />
            <input type="hidden" name="CurrencyID" id="CurrencyID" />

            <div class="card card-default" id="@divDetailsId" style="display:none">
                <div class="card-body">
                    <div class="card" style="border-color:transparent; border-style:none;">
                        <div class="card-header">
                            <h3 class="card-title">   General/Commercial Information</h3>
                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                    <i class="fas fa-minus"></i>
                                </button>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row">

                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Receive No</label>
                                        <input id="ReceiveNo" name="ReceiveNo" class="form-control form-control-sm" value="**<< NEW >>**" readonly />
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Receive Date</label>
                                        <input id="ReceiveDate" name="ReceiveDate" class="form-control form-control-sm" readonly />

                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Company</label>

                                        <input id="RCompany" name="RCompany" class="form-control form-control-sm" readonly />
                                        <button type="button" id="btnCompanyName" class="fa fa-eye" style="float:left;height:28px">
                                        </button>

                                    </div>
                                </div>
                                <div class="col-md-3 clsHideShow  CI">
                                    <div class="form-group">
                                        <label>L/C No</label>

                                        <input id="LCNo" name="LCNo" class="form-control form-control-sm" readonly />

                                    </div>
                                </div>
                                <div class="col-md-3 clsHideShow CI">
                                    <div class="form-group">
                                        <label>L/C Date</label>
                                        <div style="text-align:right">
                                            <input id="LCDate" name="LCDate" class="form-control form-control-sm" readonly />
                                        </div>
                                    </div>

                                </div>
                                <div class="col-md-3 PO">

                                    <div class="form-group">
                                        <label>PO Date</label>
                                        <div style="text-align:right">
                                            <input id="PODate" name="PODate" class="form-control form-control-sm" readonly />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 PO">
                                    <div class="form-group">
                                        <label>PO No</label>
                                        <div style="text-align:right">
                                            <input id="PONo" name="PONo" class="form-control form-control-sm" readonly />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 CI clsHideShow">
                                    <div class="form-group">
                                        <label>Invoice No</label>

                                        <input id="InvoiceNo" name="InvoiceNo" class="form-control form-control-sm" readonly />
                                    </div>
                                </div>
                                <div class="col-md-3 clsHideShow CI">
                                    <div class="form-group">
                                        <label>Invoice Date</label>

                                        <input id="InvoiceDate" name="InvoiceDate" class="form-control form-control-sm" readonly />
                                    </div>
                                </div>
                                <div class="col-md-3 TOL">
                                    <div class="form-group">
                                        <label>Tolerance</label>
                                        <div style="text-align:right">
                                            <input id="Tolerance" name="Tolerance" class="form-control form-control-sm" value="0" readonly />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label>Supplier</label>

                                        <input id="SupplierName" name="SupplierName" class="form-control form-control-sm" readonly />
                                        <button type="button" id="btnSupplierName" class="fa fa-eye" style="float:left;height:28px">
                                        </button>

                                    </div>
                                </div>
                                <div class="col-md-3 CI clsHideShow">
                                    <div class="form-group">
                                        <label>Bank-Branch</label>

                                        <input id="BankBranchName" name="BankBranchName" class="form-control form-control-sm" readonly />

                                    </div>
                                </div>



                            </div>
                        </div>
                    </div>
                    <div class="card" style="border-color:transparent; border-style:none;">
                        <div class="card-header">
                            <h3 class="card-title">Receive Information</h3>
                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                    <i class="fas fa-minus"></i>
                                </button>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row">

                                <div class="col-md-3" id="divACompanyInvoice">
                                    <div class="form-group">
                                        <label>Acompanied Invoice</label>

                                        <input id="ACompanyInvoice" name="ACompanyInvoice" class="form-control form-control-sm" />

                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Challan No</label>

                                        <input id="ChallanNo" name="ChallanNo" class="form-control form-control-sm" />

                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Challan Date</label>

                                        <input id="ChallanDate" name="ChallanDate" class="form-control input-sm ej2-datepicker" />

                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>PL No</label>

                                        <input id="PLNo" name="PLNo" class="form-control form-control-sm" />

                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>PL Date</label>

                                        <input id="PLDate" name="PLDate" class="form-control form-control-sm ej2-datepicker" />
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Truck Challan No</label>

                                        <input id="TruckChallanNo" name="TruckChallanNo" class="form-control form-control-sm" />
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Truck Challan Date</label>

                                        <input id="TruckChallanDate" name="TruckChallanDate" class="form-control form-control-sm ej2-datepicker" />
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group CI">
                                        <label>BL No</label>

                                        <input id="BLNo" name="BLNo" class="form-control form-control-sm" />
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group" hidden>
                                        <label>Gate In Time</label>

                                        <div class="input-group clockpicker">
                                            <input id="GPTime" name="GPTime" type="text" class="form-control" placeholder="Now">
                                            <span class="input-group-addon">
                                                <span class="fa fa-clock-o"></span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3  d-none">
                                    <div class="form-group">
                                        <label>Mode of Transport</label>

                                        <select id="TransportMode" name="TransportMode" class="form-control form-control-sm" style="width:100%"></select>

                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Transport Type</label>

                                        <select id="TransportTypeID" name="TransportTypeID" class="form-control form-control-sm" style="width:100%"></select>

                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Transport Agency</label>

                                        <select id="CContractorID" name="CContractorID" class="form-control form-control-sm" style="width:100%"></select>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Vehicle No</label>

                                        <input id="VehicalNo" name="VehicalNo" class="form-control form-control-sm" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>GP No</label>

                                        <input id="GPNo" name="GPNo" class="form-control form-control-sm" />
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>GP Date</label>

                                        <input id="GPDate" name="GPDate" class="form-control form-control-sm ej2-datepicker" />
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Mushak No</label>

                                        <input id="MushakNo" name="MushakNo" class="form-control form-control-sm" />
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Mushak Date</label>

                                        <input id="MushakDate" name="MushakDate" class="form-control form-control-sm ej2-datepicker" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Shipment Status</label>

                                        <select id="ShipmentStatus" name="ShipmentStatus" class="form-control form-control-sm" style="width:100%"></select>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Store Location</label>

                                        <select id="LocationID" name="LocationID" class="form-control form-control-sm" style="width:100%"></select>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Bill Entry No</label>

                                        <input id="BillEntryNo" name="BillEntryNo" class="form-control form-control-sm" />
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Remarks</label>

                                        <textarea rows="2" id="Remarks" name="Remarks" class="form-control" placeholder="Enter additional notes"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                    <div class="card" style="border-color:transparent; border-style:none;">

                        <div class="card-header">
                            <h3 class="card-title">   Item Information</h3>
                            <button type="button" class="btn btn-success btn-xs" id="btnAddItemPopup">
                                <i class="fa fa-plus"></i>&nbsp;&nbsp; Add Item
                            </button>

                        </div>

                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <table id="@tblChildId"></table>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>


                    <div class="box-footer btn-e-float-margin" id="divFormButtons">
                        <div class="pull-right pull-right-mb">
                            <button type="button" class="btn btn-default m-w-120 mr-2" id="btnYREditCancel"><i class="fa fa-angle-double-left"></i>&nbsp;Back to List</button>
                            <button type="button" class="btn btn-primary m-w-120 btnAction mr-2" id="btnSaveYR" style="display:none"><i class="fa fa-save"></i>&nbsp;&nbsp;Save</button>
                            <button type="button" class="btn btn-success m-w-120 btnAction mr-2" id="btnYRAcceptance" style="display:none"><i class="fa fa-angle-double-right"></i>&nbsp;Accept</button>
                            <button type="button" class="btn btn-success m-w-120 btnAction mr-2" id="btnSendForApproval" style="display:none"><i class="fa fa-save"></i>&nbsp;&nbsp;Save & Send for approval</button>
                            <button type="button" class="btn btn-success m-w-120 btnAction mr-2" id="btnApprove" style="display:none"><i class="fa fa-save"></i>&nbsp;&nbsp;Approve</button>
                        </div>

                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal fade" tabindex="-1" role="dialog" id="modal-new-item-@pageId" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Create New Item</h4>
                </div>
                <div class="modal-body" style="padding: 0 15px">
                    <table id="tblCreateItem-@pageId"></table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default m-w-100" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary m-w-100" id="btnAddItem">Add</button>
                </div>
            </div>
        </div>
    </div>
</div>
