@using EPYSLTEXCore.API.Models.Security
@model LoginBindingModel
@{
    ViewBag.Title = "Log in";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}
<div class="d-flex justify-content-center align-items-center" style="height: 92vh !important;">
    <div class="text-center w-100" style="max-width: 350px;">
        <h3 class="text-primary"><i class="fa fa-lock"></i> Login</h3>
        <br />
        @if (ViewBag.EmailSent == true)
        {
            <div class="alert alert-success text-start">
                <h6>A confirmation email has been sent to your <strong>@ViewBag.Email</strong></h6>
                <p>Please check your email for further instructions.</p>
            </div>
        }
        <div class="card shadow" id="sign-in">
            <div class="card-body p-4">
                <form id="login-form">
                    <div class="mb-3">
                        <input type="hidden" name="grant_type" value="password" />
                        <label for="name" class="form-label">Username</label>
                        <input id="name" type="text" class="form-control" name="Username" value="@ViewBag.UserName" placeholder="Enter your username">
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Password</label>
                        <input id="password" type="password" class="form-control" name="Password" value="@ViewBag.Password" placeholder="Enter your password">
                        <div class="text-end mt-2">
                            <a onclick="changeForm(0)" class="text-primary text-decoration-none small">Forgot Password?</a>
                        </div>
                    </div>
                    <div class="d-grid">
                        <button id="btn-signin" type="submit" class="btn btn-primary btn-bg">Login</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="card shadow" id="forgot-password" style="display:none">
            <div class="card-body p-4">
                <form id="forgot-password-form">
                    <div class="mb-3">
   
                        <label for="username" class="form-label">Username</label>
                        <input id="username" type="text" class="form-control" name="Username" value="@ViewBag.UserName" placeholder="Enter your username">
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">Email </label>
                        <input id="email" type="text" class="form-control" name="email" value="@ViewBag.Password" placeholder="Enter your Email">
                        <div class="text-end mt-2">
                            <a  onclick="changeForm(1)" class="text-primary text-decoration-none small">Go to Log In</a>

                        </div>
                    </div>
                    <div class="d-grid">
                        <button id="btn-forgot-password" type="submit" class="btn btn-primary btn-bg">Retrieve Password</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
