<script type="text/javascript">
    localStorage.setItem("pageName", "@ViewBag.PageName");
    localStorage.setItem("menuId", "@ViewBag.MenuId");
    localStorage.setItem("menuParam", "@ViewBag.MenuParam");
</script>

@{
    var pageId = ViewBag.PageName + "-" + ViewBag.MenuId;
    var divTblId = "divtbl" + pageId;
    var toolbarId = "toolbar" + pageId;
    var tblMasterId = "tbl" + pageId;
    var tblChildId = "tblChild" + pageId;
    var tblCompanyModalId = "tblCompanyModal" + pageId;
    var formId = "form" + pageId;
    var divDetailsId = "divDetails" + pageId;
}

<div id="@pageId">
    <input type="hidden" id="PurchaseRequisitionPage" value="@ViewBag.PurchaseRequisitionPage" />
    <input type="hidden" id="AcknowledgePage" value="@ViewBag.AcknowledgePage" />
    <input type="hidden" id="ApprovePage" value="@ViewBag.ApprovePage" />
    <input type="hidden" id="CPRPage" value="@ViewBag.CPRPage" />
    <input type="hidden" id="FPRPage" value="@ViewBag.FPRPage" />
    <input type="hidden" id="PRCPage" value="@ViewBag.PRCPage" />

    <div class="row" id="@divTblId">
        <div class="col-sm-12">
            <div id="@toolbarId" class="master-toolbar">
                <button id="btnNewPR" class="btn btn-default btn-sm">
                    <i class="fa fa-plus"></i>&nbsp;New
                </button>
                <button id="btnPendingIndentList" class="btn btn-default btn-sm">
                    <i class="fa fa-hourglass"></i>&nbsp;Pending Indent List
                </button>
                <button id="btnPRRequisitionList" class="btn btn-default btn-sm">
                    <i class="fa fa-list-ul"></i>&nbsp;PR Requisition List
                </button>

                <button id="btnPendingForCheckingList" class="btn btn-success text-white btn-sm">
                    <i class="fa fa-hourglass"></i>&nbsp;Pending for Checking
                </button>
                <button id="btnCheckingList" class="btn btn-default btn-sm">
                    <i class="fa fa-list-ul"></i>&nbsp;Checking Lists
                </button>
                <button id="btnCheckingRejectedList" class="btn btn-default btn-sm">
                    <i class="fa fa-remove"></i>&nbsp;Reject Lists
                </button>

                <button id="btnProposedList" class="btn btn-success text-white btn-sm">
                    <i class="fa fa-hourglass"></i>&nbsp;Pending for Approval
                </button>
                <button id="btnApprovedList" class="btn btn-default btn-sm">
                    <i class="fa fa-list-ul"></i>&nbsp;Approved Lists
                </button>
                <button id="btnRejectdList" class="btn btn-default btn-sm">
                    <i class="fa fa-remove"></i>&nbsp;Reject Lists
                </button>

                <button id="btnPendingAkgList" class="btn btn-default btn-sm">
                    <i class="fa fa-remove"></i>&nbsp;Peding for Acknowledge
                </button>
                <button id="btnAcknowledgementList" class="btn btn-default btn-sm">
                    <i class="fa fa-remove"></i>&nbsp;Acknowledge List
                </button>
                <button id="btnPendingCPRList" class="btn btn-default btn-sm">
                    <i class="fa fa-hourglass"></i>&nbsp;Pending for CPR
                </button>
                <button id="btnCPRList" class="btn btn-default btn-sm">
                    <i class="fa fa-list-ul"></i>&nbsp;CPR List
                </button>
                <button id="btnPendingCFRList" class="btn btn-default btn-sm">
                    <i class="fa fa-hourglass"></i>&nbsp;Pending for CFR
                </button>
                <button id="btnCFRList" class="btn btn-default btn-sm">
                    <i class="fa fa-list-ul"></i>&nbsp;CFR List
                </button>

                <div id="divAddPRForCDAIndent" style="margin-top: 5px; margin-left: 10px;">
                    <button id="btnAddPRForCDAIndent" class="btn btn-default btn-sm">
                        <i class="fa fa-plus"></i>&nbsp;Create PR
                    </button>
                </div>
            </div>
            <div>
                <table id="@tblMasterId"></table>
            </div>
        </div>
    </div>
    <div class="row">
        <form class="form-horizontal" id="@formId">
            <input type="hidden" id="CDAPRMasterID" name="CDAPRMasterID" value="-1111" />
            <input type="hidden" id="SubGroupID" name="SubGroupID" />

            <div class="box-body" id="@divDetailsId" style="display:none">
                <div class="col-sm-12">
                    <div class="panel panel-success" style="border-color:transparent; border-style:none;">
                        <div class="panel-heading">
                            General Information
                            <span class="pull-right"><span id="lblSubGroup"></span>&nbsp;<a class="text-sm" role="button" id="btnChangeSubGroup"><i class="fa fa-exchange"></i> Change</a></span>
                        </div>
                        <div class="panel-body">
                            <div class="form-horizontal">
                                <div class="col-sm-12">
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label class="control-label col-sm-4 small">Requisition No</label>
                                            <div class="col-sm-8">
                                                <input id="CDAPRNo" name="CDAPRNo" type="text" class="form-control input-sm" readonly />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-sm-4 small">Requisition Date</label>
                                            <div class="col-sm-8">
                                                <input id="CDAPRDate" name="CDAPRDate" class="form-control input-sm ej2-datepicker" readonly />
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="control-label col-sm-4 small">Company</label>
                                            <div class="col-sm-8">
                                                <select id="CompanyID" name="CompanyID" class="form-control input-sm" style="width:100%"></select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label class="control-label col-sm-4 small">Trigger Point</label>
                                            <div class="col-sm-8">
                                                <select id="TriggerPointID" name="TriggerPointID" class="form-control input-sm" style="width:100%"></select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-sm-4 small">Required Date</label>
                                            <div class="col-sm-8">
                                                <input id="CDAPRRequiredDate" name="CDAPRRequiredDate" class="form-control input-sm ej2-datepicker" readonly />
                                            </div>
                                        </div>
                                        <div class="form-group" id="divCheckRejectReason">
                                            <label class="control-label col-sm-4 small">Rejected Reason</label>
                                            <div class="col-sm-8">
                                                <textarea id="CheckRejectReason" rows="2" name="CheckRejectReason" type="text" class="form-control input-sm"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label class="control-label col-sm-4 small">Requisition By</label>
                                            <div class="col-sm-8">
                                                <select id="CDAPRBy" name="CDAPRBy" class="form-control input-sm" style="width:100%"></select>
                                            </div>
                                        </div>
                                        <div class="form-group" id="divRemarks">
                                            <label class="control-label col-sm-4 small">Remarks</label>
                                            <div class="col-sm-8">
                                                <textarea id="Remarks" rows="2" name="Remarks" type="text" placeholder="Remarks" class="form-control input-sm"></textarea>
                                            </div>
                                        </div>
                                        <div class="form-group" id="divRejectReason" style="display:none;">
                                            <label class="control-label col-sm-4 small">Rejct Reason</label>
                                            <div class="col-sm-8">
                                                <textarea id="RejectReason" rows="2" name="RejectReason" type="text" class="form-control input-sm" readonly></textarea>
                                            </div>
                                        </div>
                                        <div class="form-group" id="divUnAcknowledgeReason" style="display:none;">
                                            <label class="control-label col-sm-4 small">UnAcknowledge Reason</label>
                                            <div class="col-sm-8">
                                                <textarea id="UnAcknowledgeReason" rows="2" name="UnAcknowledgeReason" type="text" class="form-control input-sm" readonly></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-12">
                    <div class="panel panel-success" style="border-color:transparent; border-style:none;">
                        <div class="panel-heading">
                            Item Information
                            <button type="button" id="btnAddItems" class="btn btn-success btn-xs">
                                <i class="fa fa-search"></i>&nbsp;&nbsp;Add Item
                            </button>
                        </div>
                        <div class="panel-body">
                            <div class="form-horizontal">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <table id="@tblChildId"></table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="modal-child">
                    <div class="modal-dialog modal-sm">
                        <div class="modal-content">
                            <div class="modal-header" onmousedown="if (drag) drag(this.parentNode, event)">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                </button>
                                <h4 class="modal-title" id="childTitle"></h4>
                                Purchase Requisition
                            </div>
                            <div class="modal-body">
                                <div class="row col-sm-12" style="font-family:'Kohinoor Bangla'">
                                    <div class="panel-heading">
                                        Commercial Company Information
                                    </div>
                                    <div class="panel-body">

                                        <div class="form-horizontal">
                                            <div class="col-sm-12">
                                                <div class="form-group">
                                                    <table id="@tblCompanyModalId"></table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                @*<button type="button" class="btn btn-primary" id="btnOkSearch">Ok</button>*@
                            </div>
                        </div>
                    </div>
                </div>


                <div class="box-footer btn-e-float-margin">
                    <div class="col-md-offset-2 col-md-10">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default m-w-120" id="btnCancel"><i class="fa fa-angle-double-left"></i>&nbsp;Back to List</button>
                            <button type="button" class="btn btn-primary m-w-120" id="btnSave"><i class="fa fa-save"></i>&nbsp;&nbsp;Save</button>
                            @*<button type="button" class="btn btn-success m-w-120" id="btnSaveAndSend"><i class="fa fa-check-square-o"></i>&nbsp;Save & Send for Approve</button>*@
                            <button type="button" class="btn btn-success m-w-120" id="btnSaveAndSendForCheck"><i class="fa fa-check-square-o"></i>&nbsp;Save & Send for Check</button>

                            <button type="button" class="btn btn-success m-w-120" id="btnCheckAndSendForApprove"><i class="fa fa-check-square-o"></i>&nbsp;Check & Send for Approve</button>

                            <button type="button" class="btn btn-success m-w-120" id="btnCheckingYPR" style="display:none"><i class="fa fa-check-square-o"></i>&nbsp;Check & Send for Approve</button>
                            <button type="button" class="btn btn-danger m-w-120" id="btnCheckRejectYPR" style="display:none"><i class="fa fa-remove"></i>&nbsp;Reject</button>

                            <button type="button" class="btn btn-success m-w-120" id="btnApproveYPR" style="display:none"><i class="fa fa-check-square-o"></i>&nbsp;Approve</button>
                            <button type="button" class="btn btn-danger m-w-120" id="btnRejectYPR" style="display:none"><i class="fa fa-remove"></i>&nbsp;Reject</button>
                            <button type="button" class="btn btn-success m-w-120" id="btnAcknowledge" style="display:none"><i class="fa fa-check-square-o"></i>&nbsp;Acknowledge</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>

    </div>
</div>


