<script type="text/javascript">
	localStorage.setItem("pageName", "@ViewBag.PageName");
	localStorage.setItem("menuId", "@ViewBag.MenuId");
</script>

@{
	var pageId = ViewBag.PageName + "-" + ViewBag.MenuId;
	var divTblId = "divtbl" + pageId;
	var toolbarId = "toolbar" + pageId;
	var tblMasterId = "tbl" + pageId;
	var formId = "form" + pageId;
	var divDetailsId = "divDetails" + pageId;
	var dialogtemplate = "dialogtemplate" + pageId;
}
<style type="text/css">
	.form-group {
		margin-bottom: 20px !important;
	}
	/* For Webkit browsers (Chrome, Safari) */
	input[type="number"]::-webkit-outer-spin-button,
	input[type="number"]::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}
	/* For Firefox */
	input[type="number"] {
		-moz-appearance: textfield;
	}
	/* For Edge */
	input[type="number"]::-ms-clear {
		display: none;
	}
</style>
<div id="@pageId">
	<div class="row">
		<form class="form-horizontal" id="@formId">
			<input type="hidden" id="ROSID" name="ROSID" value="-1111" />
			<input type="hidden" id="ItemMasterID" name="ItemMasterID" />
			<input type="hidden" id="SubGroupID" name="SubGroupID" />
			<div class="box-body" id="@divDetailsId">

				<div class="col-sm-12">
					<div class="panel panel-success" style="border-color:transparent; border-style:none;">
						<div class="panel-heading">
							Item Master Re-Order Status
						</div>
						<div class="panel-body">
							<div class="form-horizontal">
								<div class="col-sm-6">
									<div class="form-group">
										<label class="control-label col-sm-4 small">Item Master</label>
										<div class="col-sm-8">
											<input id="ItemName" name="ItemName" class="form-control form-control-sm input-with-single-button" readonly />
											<button id="btnAddItemMaster" class="btn btn-sm btn-success" type="button"><i class="fa fa-search" aria-hidden="true"></i></button>
										</div>
									</div>
								</div>

								<div class="col-sm-6">
									<div class="form-group">
										<label class="control-label col-sm-4 small">Company</label>
										<div class="col-sm-8">
											<select id="CompanyID" name="CompanyID" class="form-control form-control-sm" style="width:100%"></select>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="col-sm-12">
					<div class="panel panel-success" style="border-color: transparent; border-style: none;">
						<div class="panel-heading">
							Item Information
						</div>
						<div class="panel-body">
							<div class="form-horizontal">
								<div class="col-sm-12">
									<div class="form-group">
										<table id="@tblMasterId"></table>
										@* <div id='Grid'></div> *@
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</form>
		<div id='dialogtemplateROL' style="display:none;" class="@dialogtemplate">
			<div class="modal-form-default">
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<div class="e-float-input e-control-wrapper">
								<input id="ItemMaster_Finder" name="ItemMaster_Finder" class="ItemMaster_Finder" type="text" readonly />
								<span class="e-float-line"></span>
								<label class="e-float-text e-label-top" for="Cone">Item Name</label>
							</div>
						</div>
						<div class="form-group">
							<div class="e-float-input e-control-wrapper">
								<input id="MonthlyAvgConsumptionLP" name="MonthlyAvgConsumptionLP" class="MonthlyAvgConsumptionLP"  />
								<span class="e-float-line"></span>
								<label class="e-float-text e-label-top" for="Cone">Monthly Avg Consumption Local Purchase</label>
							</div>
						</div>
						<div class="form-group">
							<div class="e-float-input e-control-wrapper">
								<input id="MonthlyAvgConsumptionFP" name="MonthlyAvgConsumptionFP" class="MonthlyAvgConsumptionFP" type="number" />
								<span class="e-float-line"></span>
								<label class="e-float-text e-label-top" for="Cone">Monthly Avg Consumption Foreign Purchase</label>
							</div>
						</div>
						<div class="form-group">
							<div class="e-float-input e-control-wrapper">
								<input id="ROLLocalPurchase" name="ROLLocalPurchase" class="ROLLocalPurchase" type="number" />
								<span class="e-float-line"></span>
								<label class="e-float-text e-label-top" for="Cone">ROL Local Purchase</label>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<div class="e-float-input e-control-wrapper">
								<input id="ROLForeignPurchase" name="ROLForeignPurchase" class="ROLForeignPurchase" type="number" />
								<span class="e-float-line"></span>
								<label class="e-float-text e-label-top" for="ROLForeignPurchase">ROL Foreign Purchase</label>
							</div>
						</div>
						<div class="form-group">
							<div class="e-float-input e-control-wrapper">
								<input id="MaximumPRQtyLP" name="MaximumPRQtyLP" class="MaximumPRQtyLP" type="number" />
								<span class="e-float-line"></span>
								<label class="e-float-text e-label-top" for="Cone">Maximum PR Qty Local Purchase</label>
							</div>
						</div>
						<div class="form-group">
							<div class="e-float-input e-control-wrapper">
								<input id="MaximumPRQtyFP" name="MaximumPRQtyFP" class="MaximumPRQtyFP" type="number" />
								<span class="e-float-line"></span>
								<label class="e-float-text e-label-top" for="MaximumPRQtyFP">Maximum PR Qty Foreign Purchase</label>
							</div>
						</div>
						<div class="form-group">
							<div class="e-float-input e-control-wrapper">
								<input id="ValidDate" name="ValidDate" class="form-control-sm ValidDate" type='date' />
								<span class="e-float-line"></span>
								<label class="e-float-text e-label-top" for="ValidDate">Valid Date</label>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>

</div>


