<script type="text/javascript">
    localStorage.setItem("pageName", "@ViewBag.PageName");
    localStorage.setItem("menuId", "@ViewBag.MenuId");
</script>

@{
    var pageId = ViewBag.PageName + "-" + ViewBag.MenuId;
    var divTblId = "divtbl" + pageId;
    var toolbarId = "toolbar" + pageId;
    var tblMasterId = "tbl" + pageId;
    var formId = "form" + pageId;
    var divDetailsId = "divDetails" + pageId;
}
<style type="text/css">
    .cbo {
        font-size: 16px !important;
    }
</style>
<div id="@pageId">
    <div class="row">
        <form class="form-horizontal" id="@formId">
            <input type="hidden" id="YarnPackingID" name="YarnPackingID" value="-1111" />

            <div class="box-body" id="@divDetailsId">
                <div class="col-12">
                    <div class="card border-0">
                        <div class="card" style="border-color:transparent; border-style:none;">
                            <div class="card-header">
                                <h3 class="card-title"> General Information</h3>
                                <div class="card-tools">
                                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                        <i class="fas fa-minus"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group cbo">
                                            <label>Spinner</label>
                                            <select id="SpinnerID" name="SpinnerID" class="form-control form-control-sm"></select>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group cbo">
                                            <label>Pack No</label>
                                            <input id="PackNo" name="PackNo" class="form-control form-control-sm" />
                                        </div>
                                    </div>
                                    <div class="col-md-3 cbo">
                                        <div class="form-group">
                                            <label>Cone</label>
                                            <input type="number" id="Cone" name="Cone" class="form-control form-control-sm" />
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group cbo">
                                            <label>Net Weight</label>
                                            <input type="number" id="NetWeight" name="NetWeight" class="form-control form-control-sm" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="text-right">
                                <button type="button" class="btn btn-primary" id="btnSave">
                                    <i class="fa fa-save"></i>&nbsp;&nbsp;Save
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="card border-0">
                        <div class="card-header bg-default">
                            Spinner Wise Yarn Packing - HK Information
                        </div>
                        <div class="card-body">
                            <div class="form-row">
                                <div class="col-12">
                                    <table id="@tblMasterId"></table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </form>
    </div>
</div>
@* <div id="@pageId">
    <div class="row">
        <form class="form-horizontal" id="@formId">
            <input type="hidden" id="YarnPackingID" name="YarnPackingID" value="-1111" />

            <div class="box-body" id="@divDetailsId">
                <div class="col-sm-12">
                    <div class="panel panel-success" style="border-color:transparent; border-style:none;">
                        <div class="panel-heading">
                            Spinner Wise Yarn Packing - HK
                        </div>
                        <div class="panel-body">
                            <div class="form-horizontal">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-2 small">Spinner</label>
                                        <div class="col-md-10">
                                            <select id="SpinnerID" name="SpinnerID" class="form-control input-sm"></select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-2 small">Pack No</label>
                                        <div class="col-md-10">
                                            <input id="PackNo" name="PackNo" class="form-control input-sm" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-2 small">Cone</label>
                                        <div class="col-md-10">
                                            <input type="number" id="Cone" name="Cone" class="form-control input-sm" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-2 small">Net Weight</label>
                                        <div class="col-md-10">
                                            <input type="number" id="NetWeight" name="NetWeight" class="form-control input-sm" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="box-footer btn-e-float-margin" id="divFormButtons">
                    <div class="col-md-offset-2 col-md-10">
                        <div class="pull-right">
                           
                            <button type="button" class="btn btn-primary m-w-120" id="btnSave"><i class="fa fa-save"></i>&nbsp;&nbsp;Save</button>
                        </div>
                    </div>
                </div>

                <div class="col-sm-12">
                    <div class="panel panel-success" style="border-color:transparent; border-style:none;">
                        <div class="panel-heading">
                            Spinner Wise Yarn Packing - HK Information
                            
                        </div>
                        <div class="panel-body">
                            <div class="form-horizontal">
                                <div class="col-sm-12">
                                    <table id="@tblMasterId"></table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </form>
    </div>
</div> *@
