<script type="text/javascript">
    localStorage.setItem("pageName", "@ViewBag.PageName");
    localStorage.setItem("menuId", "@ViewBag.MenuId");
</script>

@{
    var pageId = ViewBag.PageName + "-" + ViewBag.MenuId;
    var divTblId = "divtbl" + pageId;
    var toolbarId = "toolbar" + pageId;
    var tblMasterId = "tbl" + pageId;
    var formId = "form" + pageId;
    var divDetailsId = "divDetails" + pageId;
}
<style type="text/css">
    .cbo {
        font-size: 16px !important;
    }
</style>
<div id="@pageId">
    <div class="row">
        <form class="form-horizontal" id="@formId">
            <input type="hidden" id="YarnPackingID" name="YarnPackingID" value="-1111" />

            <div class="box-body" id="@divDetailsId">
                <div class="col-sm-12">
                    <div class="panel panel-success" style="border-color:transparent; border-style:none;">
                        <div class="panel-heading">
                            General Information
                        </div>
                        <div class="panel-body">
                            <div class="form-horizontal">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="control-label col-sm-4 small">Spinner</label>
                                        <div class="col-sm-8">
                                            <select id="SpinnerID" name="SpinnerID" class="form-control form-control-sm"></select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-4 small">Pack No</label>
                                        <div class="col-sm-8">
                                            <input id="PackNo" name="PackNo" class="form-control form-control-sm" />
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="control-label col-sm-4 small">Cone</label>
                                        <div class="col-sm-8">
                                            <input type="number" id="Cone" name="Cone" class="form-control form-control-sm" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-4 small">Net Weight</label>
                                        <div class="col-sm-8">
                                            <input type="number" id="NetWeight" name="NetWeight" class="form-control form-control-sm" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="panel panel-success" style="border-color: transparent; border-style: none;">
                        <div class="panel-heading">
                            Item Information
                        </div>
                        <div class="panel-body">
                            <div class="form-horizontal">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <table id="@tblMasterId"></table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="box-footer btn-e-float-margin" id="divFormButtons">
                    <div class="pull-right pull-right-mb">
                        <button type="button" class="btn btn-default m-w-120 mr-2" id="btnBackToList"><i class="fa fa-angle-double-left"></i>&nbsp;Back to List</button>
                        <button type="button" class="btn btn-primary m-w-120 btnAction mr-2" id="btnSave"><i class="fa fa-save"></i>&nbsp;&nbsp;Save</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
