<script type="text/javascript">
	localStorage.setItem("pageName", "@ViewBag.PageName");
	localStorage.setItem("menuId", "@ViewBag.MenuId");
</script>

@{
	var pageId = ViewBag.PageName + "-" + ViewBag.MenuId;
	var divTblId = "divtbl" + pageId;
	var toolbarId = "toolbar" + pageId;
	var tblMasterId = "tbl" + pageId;
	var formId = "form" + pageId;
	var divDetailsId = "divDetails" + pageId;
}
<style type="text/css">
	.cbo {
		font-size: 16px !important;
	}
</style>
<div id="@pageId">
	<div class="row">
		<form class="form-horizontal" id="@formId">
			<input type="hidden" id="YarnPackingID" name="YarnPackingID" value="-1111" />

			<div class="box-body" id="@divDetailsId">

				<div class="col-12">
					<div class="card border-0">
						<div class="card-header">
							<h3 class="card-title"> Spinner Wise Yarn Packing - HK Information</h3>
						</div>
						<div class="card-body">
							<div class="form-row">
								<div class="col-12">
									@* <table id="@tblMasterId"></table> *@
									<div id='Grid'></div>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>


			@* <script id="dialogtemplate" type="text/x-template">
				<div>
					<div class="form-row">
						<div class="form-group col-md-6">
							<div>
								<input id="Spinner" name="Spinner" type="text"  />
							</div>
						</div>
					</div>
				</div>
			</script> *@


			<script id='dialogtemplate' type="text/x-template">
				<div>
					<div class="form-row">
						<div class="form-group col-md-6">
							<input id="Spinner" name="Spinner" type="text" value=""/>
							<span class="e-float-line"></span>
						</div>
						<div class="form-group col-md-6">
							<div class="e-float-input e-control-wrapper">
								<input id="PackNo" name="PackNo" type="text" value=""/>
								<span class="e-float-line"></span>
								<label class="e-float-text e-label-top" for="PackNo">Pack No</label>
							</div>
						</div>
					</div>
					<div class="form-row">
						<div class="form-group col-md-6">
							<div class="e-float-input e-control-wrapper">
								<input id="Cone" name="Cone" type="number" value=""/>
								<span class="e-float-line"></span>
								<label class="e-float-text e-label-top" for="Cone">Cone</label>
							</div>
						</div>
						<div class="form-group col-md-6">
						<div class="e-float-input e-control-wrapper">
								<input id="NetWeight" name="NetWeight" type="number" value=""/>
								<span class="e-float-line"></span>
								<label class="e-float-text e-label-top" for="NetWeight">Net Weight</label>
							</div>
						</div>
					</div>
				</div>
			</script>
		</form>
	</div>

</div>
