<script type="text/javascript">
	localStorage.setItem("pageName", "@ViewBag.PageName");
	localStorage.setItem("menuId", "@ViewBag.MenuId");
</script>

@{
	var pageId = ViewBag.PageName + "-" + ViewBag.MenuId;
	var divTblId = "divtbl" + pageId;
	var toolbarId = "toolbar" + pageId;
	var tblMasterId = "tbl" + pageId;
	var formId = "form" + pageId;
	var divDetailsId = "divDetails" + pageId;
	var dialogtemplate = "dialogtemplate" + pageId;
}
<style type="text/css">
	.cbo {
		font-size: 16px !important;
	}
	.form-group {
		margin-bottom: 15px !important;
	}
</style>
<div id="@pageId">
	<div class="row">
		<form class="form-horizontal" id="@formId">
			<input type="hidden" id="YarnPropertiesMappingID" name="YarnPropertiesMappingID" value="-1111" />

			<div class="box-body" id="@divDetailsId">

				<div class="col-12">
					<div class="card border-0">
						<div class="card-header">
							<h3 class="card-title"> Yarn RM Properties</h3>
						</div>
						<div class="card-body">
							<div class="form-row">
								<div class="col-12">
									<table id="@tblMasterId"></table>
									@* <div id='Grid'></div> *@
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
		</form>
		@* <script id='dialogtemplate' type="text/x-template"> *@
		<div id='dialogtemplateRMP' style="display:none;" class="@dialogtemplate">
			<div class="modal-form-default">
				<div class="row">
					<div class="col-md-4">
						<div class="form-group">
							<input id="FiberType" name="FiberType" class="FiberType" type="text" />
							<span class="e-float-line"></span>
						</div>
						<div class="form-group">
							<input id="BlendType" name="BlendType" class="BlendType" type="text" />
							<span class="e-float-line"></span>
						</div>
						<div class="form-group">
							<input id="YarnType" name="YarnType" class="YarnType" type="text" />
							<span class="e-float-line"></span>
						</div>
						<div class="form-group">
							<input id="Program" name="Program" class="Program" type="text" />
							<span class="e-float-line"></span>
						</div>
						<div class="form-group">
							<input id="SubProgram" name="SubProgram" class="SubProgram" type="text" />
							<span class="e-float-line"></span>
						</div>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<input id="Certification" name="Certification" class="Certification" type="text" />
							<span class="e-float-line"></span>
						</div>
						<div class="form-group">
							<input id="TechnicalParameter" name="TechnicalParameter" class="TechnicalParameter" type="text" />
							<span class="e-float-line"></span>
						</div>
						<div class="form-group">
							<input id="YarnComposition" name="YarnComposition" class="YarnComposition" type="text" />
							<span class="e-float-line"></span>
						</div>
						<div class="form-group">
							<input id="ShadeReference" name="ShadeReference" class="ShadeReference" type="text" />
							<span class="e-float-line"></span>
						</div>
						<div class="form-group">
							<input id="ManufacturingLine" name="ManufacturingLine" class="ManufacturingLine" type="text" />
							<span class="e-float-line"></span>
						</div>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<input id="ManufacturingProcess" name="ManufacturingProcess" class="ManufacturingProcess" type="text" />
							<span class="e-float-line"></span>
						</div>
						<div class="form-group">
							<input id="ManufacturingSubProcess" name="ManufacturingSubProcess" class="ManufacturingSubProcess" type="text" />
							<span class="e-float-line"></span>
						</div>
						<div class="form-group">
							<input id="Color" name="Color" class="Color" type="text" />
							<span class="e-float-line"></span>
						</div>
						<div class="form-group">
							<input id="ColorGrade" name="ColorGrade" class="ColorGrade" type="text" />
							<span class="e-float-line"></span>
						</div>
						<div class="form-group">
							<input id="YarnCount" name="YarnCount" class="YarnCount" type="text" />
							<span class="e-float-line"></span>
						</div>
					</div>
				</div>
			</div>
			@* <div class="form-horizontal">
					<div class="col-sm-4">
						<div class="form-group">
							<label class="control-label col-sm-4 small">Fiber Type</label>
							<div class="col-sm-8">
								<input id="FiberType" name="FiberType" type="text" value=""/>
								<span class="e-float-line"></span>
							</div>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="form-group">
							<label class="control-label col-sm-4 small">Blend Type</label>
							<div class="col-sm-8">
								<input id="BlendType" name="BlendType" type="text" value=""/>
								<span class="e-float-line"></span>
							</div>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="form-group">
							<label class="control-label col-sm-4 small">Yarn Type</label>
							<div class="col-sm-8">
								<input id="YarnType" name="YarnType" type="text" value=""/>
								<span class="e-float-line"></span>
							</div>
						</div>
					</div>
				</div> *@

		</div>
		@* </script> *@
	</div>

</div>
