<script type="text/javascript">
	localStorage.setItem("pageName", "@ViewBag.PageName");
	localStorage.setItem("menuId", "@ViewBag.MenuId");
</script>

@{
	var pageId = ViewBag.PageName + "-" + ViewBag.MenuId;
	var divTblId = "divtbl" + pageId;
	var toolbarId = "toolbar" + pageId;
	var tblMasterId = "tbl" + pageId;
	var formId = "form" + pageId;
	var divDetailsId = "divDetails" + pageId;
}
<style type="text/css">
	.cbo {
		font-size: 16px !important;
	}
</style>
<div id="@pageId">
	<div class="row">
		<form class="form-horizontal" id="@formId">
			<input type="hidden" id="YarnPropertiesMappingID" name="YarnPropertiesMappingID" value="-1111" />

			<div class="box-body" id="@divDetailsId">

				<div class="col-12">
					<div class="card border-0">
						<div class="card-header">
							<h3 class="card-title"> Yarn RM Properties</h3>
						</div>
						<div class="card-body">
							<div class="form-row">
								<div class="col-12">
									@* <table id="@tblMasterId"></table> *@
									<div id='Grid'></div>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>

			<script id='dialogtemplate' type="text/x-template">
				<div>
					<div class="form-row">
						<div class="form-group col-md-6">
							<input id="FiberType" name="FiberType" type="text" value=""/>
							<span class="e-float-line"></span>
						</div>
						<div class="form-group col-md-6">
							<input id="BlendType" name="BlendType" type="text" value=""/>
							<span class="e-float-line"></span>
						</div>
					</div>
					<div class="form-row">
						<div class="form-group col-md-6">
							<input id="YarnType" name="YarnType" type="text" value=""/>
							<span class="e-float-line"></span>
						</div>
						<div class="form-group col-md-6">
							<input id="Program" name="Program" type="text" value=""/>
							<span class="e-float-line"></span>
						</div>
					</div>
					<div class="form-row">
						<div class="form-group col-md-6">
							<input id="SubProgram" name="SubProgram" type="text" value=""/>
							<span class="e-float-line"></span>
						</div>
						<div class="form-group col-md-6">
							<input id="Certification" name="Certification" type="text" value=""/>
							<span class="e-float-line"></span>
						</div>
					</div>
					<div class="form-row">
						<div class="form-group col-md-6">
							<input id="TechnicalParameter" name="TechnicalParameter" type="text" value=""/>
							<span class="e-float-line"></span>
						</div>
						<div class="form-group col-md-6">
							<input id="YarnComposition" name="YarnComposition" type="text" value=""/>
							<span class="e-float-line"></span>
						</div>
					</div>
					<div class="form-row">
						<div class="form-group col-md-6">
							<input id="ShadeReference" name="ShadeReference" type="text" value=""/>
							<span class="e-float-line"></span>
						</div>
						<div class="form-group col-md-6">
							<input id="ManufacturingLine" name="ManufacturingLine" type="text" value=""/>
							<span class="e-float-line"></span>
						</div>
					</div>
					<div class="form-row">
						<div class="form-group col-md-6">
							<input id="ManufacturingProcess" name="ManufacturingProcess" type="text" value=""/>
							<span class="e-float-line"></span>
						</div>
						<div class="form-group col-md-6">
							<input id="ManufacturingSubProcess" name="ManufacturingSubProcess" type="text" value=""/>
							<span class="e-float-line"></span>
						</div>
					</div>
					<div class="form-row">
						<div class="form-group col-md-6">
							<input id="Color" name="Color" type="text" value=""/>
							<span class="e-float-line"></span>
						</div>
						<div class="form-group col-md-6">
							<input id="ColorGrade" name="ColorGrade" type="text" value=""/>
							<span class="e-float-line"></span>
						</div>
					</div>
					<div class="form-row">
						<div class="form-group col-md-6">
							<input id="YarnCount" name="YarnCount" type="text" value=""/>
							<span class="e-float-line"></span>
						</div>
					</div>
				</div>
			</script>
		</form>
	</div>

</div>
